# The authors and sponsors of PEPs.
# Any commented-out PEP predates PEP sponsorship or their authors are no longer
# active core developers.

# The PEP editors are the fallback "owners" for everything in this repository.
*             @python/pep-editors

# PEP infrastructure
.github/workflows/      @AA-Turner @CAM-Gerlach
Makefile                @AA-Turner
requirements.txt        @AA-Turner
infra/                  @ewdurbin

pep_sphinx_extensions/  @AA-Turner
AUTHOR_OVERRIDES.csv    @AA-Turner
build.py                @AA-Turner
conf.py                 @AA-Turner
contents.rst            @AA-Turner
generate_rss.py         @AA-Turner

# Linting infrastructure
.codespell/             @CAM-Gerlach @hugovk
.codespellrc            @CAM-Gerlach @hugovk
.pre-commit-config.yaml @CAM-Gerlach @hugovk

# Git infrastructure
.gitattributes          @CAM-Gerlach
.gitignore              @CAM-Gerlach

pep-0001.rst  @warsaw @ncoghlan
pep-0001-process_flow.png  @warsaw @ncoghlan
pep-0001/     @warsaw @ncoghlan
# pep-0002.rst
pep-0003.rst  @jeremyhylton
pep-0004.rst  @brettcannon
# pep-0005.rst
# pep-0006.rst
pep-0007.rst  @gvanrossum @warsaw
pep-0008.rst  @gvanrossum @warsaw @ncoghlan
pep-0009.rst  @warsaw
pep-0010.rst  @warsaw
pep-0011.rst  @brettcannon
pep-0012.rst  @brettcannon @warsaw
pep-0012/     @brettcannon
# pep-0013.rst is owned by the entire core team.
# ...
pep-0020.rst  @tim-one
# ...
pep-0042.rst  @jeremyhylton
# ...
pep-0100.rst  @malemburg
pep-0101.rst  @warsaw @gvanrossum
pep-0102.rst  @warsaw @gvanrossum
# pep-0103.rst
# ...
pep-0160.rst  @freddrake
# ...
pep-0200.rst  @jeremyhylton
pep-0201.rst  @warsaw
pep-0202.rst  @warsaw
pep-0203.rst  @Yhg1s
pep-0204.rst  @Yhg1s
pep-0205.rst  @freddrake
# pep-0206.rst
pep-0207.rst  @gvanrossum
pep-0208.rst  @nascheme @malemburg
# pep-0209.rst
# pep-0210.rst
# pep-0211.rst
# pep-0212.rst
# pep-0213.rst
pep-0214.rst  @warsaw
# pep-0215.rst
# pep-0216.rst
# pep-0217.rst
pep-0218.rst  @rhettinger
# pep-0219.rst
# pep-0220.rst
pep-0221.rst  @Yhg1s
# pep-0222.rst
pep-0223.rst  @tim-one
pep-0224.rst  @malemburg
# pep-0225.rst
pep-0226.rst  @jeremyhylton
pep-0227.rst  @jeremyhylton
pep-0228.rst  @gvanrossum
# pep-0229.rst
pep-0230.rst  @gvanrossum
pep-0231.rst  @warsaw
pep-0232.rst  @warsaw
# pep-0233.rst
pep-0234.rst  @gvanrossum
pep-0235.rst  @tim-one
pep-0236.rst  @tim-one
pep-0237.rst  @gvanrossum
pep-0238.rst  @gvanrossum
# pep-0239.rst
# pep-0240.rst
# pep-0241.rst
# pep-0242.rst
# pep-0243.rst
# pep-0244.rst
# pep-0245.rst
pep-0246.rst  @aleaxit
# pep-0247.rst
pep-0248.rst  @malemburg
pep-0249.rst  @malemburg
pep-0250.rst  @pfmoore
pep-0251.rst  @warsaw @gvanrossum
pep-0252.rst  @gvanrossum
pep-0253.rst  @gvanrossum
pep-0254.rst  @gvanrossum
pep-0255.rst  @nascheme @tim-one
# pep-0256.rst
pep-0257.rst  @gvanrossum
# pep-0258.rst
pep-0259.rst  @gvanrossum
pep-0260.rst  @gvanrossum
# pep-0261.rst
# pep-0262.rst
pep-0263.rst  @malemburg
# pep-0264.rst
# pep-0265.rst
# pep-0266.rst
pep-0267.rst  @jeremyhylton
# pep-0268.rst
# pep-0269.rst
# pep-0270.rst
# pep-0271.rst
# pep-0272.rst
# pep-0273.rst
pep-0274.rst  @warsaw
pep-0275.rst  @malemburg
# pep-0276.rst
# pep-0277.rst
pep-0278.rst  @jackjansen
pep-0279.rst  @rhettinger
pep-0280.rst  @gvanrossum
# pep-0281.rst
pep-0282.rst  @vsajip
pep-0283.rst  @gvanrossum
# pep-0284.rst
pep-0285.rst  @gvanrossum
# pep-0286.rst
# pep-0287.rst
pep-0288.rst  @rhettinger
pep-0289.rst  @rhettinger
pep-0290.rst  @rhettinger
# pep-0291.rst
pep-0292.rst  @warsaw
pep-0293.rst  @doerwalter
# pep-0294.rst
# pep-0295.rst
# pep-0296.rst
pep-0297.rst  @malemburg
pep-0298.rst  @theller
# pep-0299.rst
# pep-0301.rst
pep-0302.rst  @pfmoore
# pep-0303.rst
# pep-0304.rst
# pep-0305.rst
pep-0306.rst  @jackdied @ncoghlan @benjaminp
pep-0307.rst  @gvanrossum @tim-one
pep-0308.rst  @gvanrossum @rhettinger
# pep-0309.rst
pep-0310.rst  @pfmoore
pep-0311.rst  @mhammond
pep-0312.rst  @aleaxit
# pep-0313.rst
# pep-0314.rst
pep-0315.rst  @rhettinger
# pep-0316.rst
# pep-0317.rst
# pep-0318.rst
# pep-0319.rst
pep-0320.rst  @warsaw @rhettinger
# pep-0321.rst
pep-0322.rst  @rhettinger
pep-0323.rst  @aleaxit
# pep-0324.rst
# pep-0325.rst
pep-0326.rst  @terryjreedy
pep-0327.rst  @facundobatista
# pep-0328.rst
pep-0329.rst  @rhettinger
# pep-0330.rst
# pep-0331.rst
# pep-0332.rst
# pep-0333.rst
# pep-0334.rst
# pep-0335.rst
# pep-0336.rst
# pep-0337.rst
pep-0338.rst  @ncoghlan
pep-0339.rst  @brettcannon
pep-0340.rst  @gvanrossum
pep-0341.rst  @birkenfeld
pep-0342.rst  @gvanrossum
pep-0343.rst  @gvanrossum @ncoghlan
# pep-0344.rst
# pep-0345.rst
pep-0346.rst  @ncoghlan
# pep-0347.rst
pep-0348.rst  @brettcannon
pep-0349.rst  @nascheme
# pep-0350.rst
pep-0351.rst  @warsaw
pep-0352.rst  @brettcannon @gvanrossum
# pep-0353.rst
# pep-0354.rst
# pep-0355.rst
pep-0356.rst  @gvanrossum
# pep-0357.rst
pep-0358.rst  @nascheme @gvanrossum
# pep-0359.rst
pep-0360.rst  @brettcannon
pep-0361.rst  @warsaw
pep-0362.rst  @brettcannon @1st1 @larryhastings
# pep-0363.rst
pep-0364.rst  @warsaw
# pep-0365.rst
pep-0366.rst  @ncoghlan
# pep-0367.rst
# pep-0368.rst
pep-0369.rst  @tiran
pep-0370.rst  @tiran
# pep-0371.rst
pep-0372.rst  @mitsuhiko @rhettinger
pep-0373.rst  @benjaminp
pep-0374.rst  @brettcannon @avassalotti @warsaw
pep-0375.rst  @benjaminp
# pep-0376.rst
pep-0377.rst  @ncoghlan
pep-0378.rst  @rhettinger
# pep-0379.rst
# pep-0380.rst
# pep-0381.rst
# pep-0382.rst
# pep-0383.rst
# pep-0384.rst
pep-0385.rst  @pitrou @birkenfeld
# pep-0386.rst
pep-0387.rst  @benjaminp
# pep-0389.rst
# pep-0390.rst
pep-0391.rst  @vsajip
pep-0392.rst  @birkenfeld
# pep-0393.rst
pep-0394.rst  @ncoghlan @warsaw @encukou @willingc
pep-0395.rst  @ncoghlan
pep-0396.rst  @warsaw
pep-0397.rst  @mhammond
pep-0398.rst  @birkenfeld
pep-0399.rst  @brettcannon
pep-0400.rst  @vstinner
pep-0401.rst  @warsaw @brettcannon
# pep-0402.rst
pep-0403.rst  @ncoghlan
pep-0404.rst  @warsaw
# pep-0405.rst
pep-0406.rst  @ncoghlan
pep-0407.rst  @pitrou @birkenfeld @warsaw
pep-0408.rst  @ncoghlan @eliben
pep-0409.rst  @ethanfurman
pep-0410.rst  @vstinner
pep-0411.rst  @ncoghlan @eliben
pep-0412.rst  @markshannon
pep-0413.rst  @ncoghlan
pep-0414.rst  @mitsuhiko @ncoghlan
pep-0415.rst  @benjaminp
pep-0416.rst  @vstinner
pep-0417.rst  @voidspace
pep-0418.rst  @vstinner
pep-0418/     @vstinner
# pep-0419.rst
pep-0420.rst  @ericvsmith
pep-0421.rst  @ericsnowcurrently
pep-0422.rst  @ncoghlan
# pep-0423.rst
pep-0424.rst  @alex
# pep-0425.rst
pep-0426.rst  @ncoghlan @dstufft
pep-0426/     @ncoghlan @dstufft
# pep-0427.rst
pep-0428.rst  @pitrou
pep-0429.rst  @larryhastings
pep-0430.rst  @ncoghlan
# pep-0431.rst
pep-0432.rst  @ncoghlan @vstinner @ericsnowcurrently
pep-0433.rst  @vstinner
pep-0433/     @vstinner
pep-0434.rst  @terryjreedy
pep-0435.rst  @warsaw @eliben @ethanfurman
pep-0436.rst  @larryhastings
# pep-0437.rst
# pep-0438.rst
# pep-0439.rst
pep-0440.rst  @ncoghlan @dstufft
pep-0441.rst  @pfmoore
pep-0442.rst  @pitrou
pep-0443.rst  @ambv
pep-0444.rst  @mitsuhiko
pep-0445.rst  @vstinner
pep-0446.rst  @vstinner
pep-0446/     @vstinner
pep-0447.rst  @ronaldoussoren
# pep-0448.rst
pep-0449.rst  @dstufft
pep-0450.rst  @stevendaprano
pep-0451.rst  @ericsnowcurrently
pep-0452.rst  @tiran
pep-0453.rst  @dstufft @ncoghlan
pep-0454.rst  @vstinner
pep-0455.rst  @pitrou
pep-0456.rst  @tiran
pep-0457.rst  @larryhastings
# pep-0458.rst, pep-0458-1.png
pep-0459.rst  @ncoghlan
pep-0460.rst  @pitrou
pep-0461.rst  @ethanfurman
pep-0462.rst  @ncoghlan
# pep-0463.rst
pep-0464.rst  @dstufft
pep-0465.rst  @njsmith
pep-0465/     @njsmith
pep-0466.rst  @ncoghlan
pep-0467.rst  @ncoghlan @ethanfurman
pep-0468.rst  @ericsnowcurrently
pep-0469.rst  @ncoghlan
pep-0470.rst  @dstufft
# pep-0471.rst
# pep-0472.rst
# pep-0473.rst
pep-0474.rst  @ncoghlan
pep-0475.rst  @vstinner
pep-0476.rst  @alex
pep-0477.rst  @dstufft @ncoghlan
pep-0478.rst  @larryhastings
pep-0479.rst  @gvanrossum
# pep-0480.rst, pep-0480-1.png
pep-0481.rst  @dstufft
pep-0482.rst  @ambv
pep-0483.rst  @gvanrossum @ilevkivskyi
pep-0484.rst  @gvanrossum @ambv
# pep-0485.rst
pep-0486.rst  @pfmoore
# pep-0487.rst
pep-0488.rst  @brettcannon
pep-0489.rst  @encukou @scoder @ncoghlan
pep-0490.rst  @vstinner
# pep-0491.rst
pep-0492.rst  @1st1
pep-0493.rst  @ncoghlan @malemburg
pep-0494.rst  @ned-deily
pep-0495.rst  @abalkin @tim-one
pep-0495-gap.png  @abalkin @tim-one
pep-0495-gap.svg  @abalkin @tim-one
pep-0495-fold.svg  @abalkin @tim-one
pep-0495-fold-2.png  @abalkin @tim-one
pep-0495-daylightsavings.png  @abalkin @tim-one
# pep-0496.rst
# pep-0497.rst
pep-0498.rst  @ericvsmith
# pep-0499.rst
pep-0500.rst  @abalkin @tim-one
pep-0501.rst  @ncoghlan
# pep-0502.rst
pep-0503.rst  @dstufft
pep-0504.rst  @ncoghlan
pep-0505.rst  @zooba
pep-0505/     @zooba
pep-0506.rst  @stevendaprano
pep-0507.rst  @warsaw
pep-0508.rst  @rbtcollins
pep-0509.rst  @vstinner
pep-0510.rst  @vstinner
pep-0511.rst  @vstinner
pep-0512.rst  @brettcannon
pep-0513.rst  @njsmith
pep-0514.rst  @zooba
pep-0515.rst  @birkenfeld @serhiy-storchaka
pep-0516.rst  @rbtcollins @njsmith
pep-0517.rst  @njsmith
pep-0518.rst  @brettcannon @njsmith @dstufft
pep-0519.rst  @brettcannon
pep-0520.rst  @ericsnowcurrently
pep-0521.rst  @njsmith
pep-0522.rst  @ncoghlan @njsmith
pep-0523.rst  @brettcannon @DinoV
pep-0524.rst  @vstinner
pep-0525.rst  @1st1
pep-0525-1.png  @1st1
pep-0526.rst  @ilevkivskyi @lisroach @gvanrossum
pep-0527.rst  @dstufft
pep-0528.rst  @zooba
pep-0529.rst  @zooba
pep-0530.rst  @1st1
pep-0531.rst  @ncoghlan
pep-0532.rst  @ncoghlan
pep-0532/     @ncoghlan
pep-0533.rst  @njsmith
pep-0534.rst  @encukou @ncoghlan
pep-0535.rst  @ncoghlan
# pep-0536.rst
pep-0537.rst  @ned-deily
pep-0538.rst  @ncoghlan
# pep-0539.rst
pep-0540.rst  @vstinner
pep-0541.rst  @ambv
# pep-0542.rst
pep-0543.rst  @tiran
pep-0544.rst  @ilevkivskyi @ambv
pep-0545.rst  @JulienPalard @methane @vstinner
pep-0546.rst  @vstinner
pep-0547.rst  @encukou
pep-0548.rst  @bitdancer
pep-0549.rst  @larryhastings
pep-0550.rst  @1st1
pep-0550-lookup_hamt.png  @1st1
pep-0550-hamt_vs_dict.png  @1st1
pep-0550-hamt_vs_dict-v2.png  @1st1
pep-0551.rst  @zooba
pep-0552.rst  @benjaminp
pep-0553.rst  @warsaw
pep-0554.rst  @ericsnowcurrently
# pep-0555.rst
pep-0556.rst  @pitrou
pep-0557.rst  @ericvsmith
pep-0558.rst  @ncoghlan
pep-0559.rst  @warsaw
pep-0560.rst  @ilevkivskyi
# pep-0561.rst
pep-0562.rst  @ilevkivskyi
pep-0563.rst  @ambv
pep-0564.rst  @vstinner
pep-0565.rst  @ncoghlan
# pep-0566.rst
pep-0567.rst  @1st1
pep-0568.rst  @njsmith
pep-0569.rst  @ambv
pep-0570.rst  @larryhastings @pablogsal
# pep-0571.rst
pep-0572.rst  @tim-one @gvanrossum
pep-0573.rst  @encukou @ncoghlan @ericsnowcurrently
pep-0574.rst  @pitrou
# pep-0575.rst
pep-0576.rst  @markshannon
pep-0577.rst  @ncoghlan
pep-0578.rst  @zooba
# pep-0579.rst
# pep-0580.rst
pep-0581.rst  @Mariatta
pep-0582.rst  @kushaldas @zooba @dstufft @ncoghlan
# pep-0583.rst
pep-0584.rst  @stevendaprano @brandtbucher
pep-0585.rst  @ambv
pep-0586.rst  @ilevkivskyi
pep-0587.rst  @vstinner @ncoghlan
pep-0588.rst  @Mariatta
pep-0589.rst  @gvanrossum
pep-0590.rst  @markshannon
pep-0591.rst  @ilevkivskyi
pep-0592.rst  @dstufft
pep-0593.rst  @ilevkivskyi
pep-0594.rst  @tiran @brettcannon
pep-0595.rst  @ezio-melotti @berkerpeksag
pep-0596.rst  @ambv
pep-0597.rst  @methane
pep-0598.rst  @ncoghlan
pep-0599.rst  @pfmoore
pep-0600.rst  @njsmith
pep-0601.rst  @isidentical
pep-0602.rst  @ambv
pep-0602-example-release-calendar.png  @ambv
pep-0602-example-release-calendar.pptx  @ambv
pep-0602-overlapping-support-matrix.png  @ambv
pep-0602-overlapping-support-matrix.pptx  @ambv
pep-0603.rst  @1st1
pep-0603-lookup_hamt.png  @1st1
pep-0603-hamt_vs_dict.png  @1st1
# pep-0604.rst
pep-0605.rst  @zooba @ncoghlan
pep-0605-example-release-calendar.png  @zooba @ncoghlan
pep-0605-overlapping-support-matrix.png  @zooba @ncoghlan
pep-0605/     @zooba @ncoghlan
pep-0606.rst  @vstinner
pep-0607.rst  @ambv @zooba @ncoghlan
pep-0608.rst  @vstinner
pep-0609.rst  @pganssle
pep-0610.rst  @cjerdonek
pep-0611.rst  @markshannon
pep-0612.rst  @gvanrossum
pep-0613.rst  @gvanrossum
pep-0614.rst  @brandtbucher
pep-0615.rst  @pganssle
pep-0616.rst  @ericvsmith
pep-0617.rst  @gvanrossum @pablogsal @lysnikolaou
pep-0618.rst  @brandtbucher
pep-0619.rst  @pablogsal
pep-0620.rst  @vstinner
pep-0621.rst  @brettcannon  @pganssle
pep-0622.rst  @brandtbucher @ilevkivskyi @gvanrossum
pep-0623.rst  @methane
pep-0624.rst  @methane
pep-0625.rst  @pfmoore
pep-0626.rst  @markshannon
pep-0627.rst  @encukou
pep-0628.rst  @ncoghlan
pep-0629.rst  @dstufft
pep-0630.rst  @encukou
pep-0631.rst  @pganssle
pep-0632.rst  @zooba
pep-0633.rst  @brettcannon
pep-0634.rst  @brandtbucher @gvanrossum
pep-0635.rst  @brandtbucher @gvanrossum
pep-0636.rst  @brandtbucher @gvanrossum
pep-0637.rst  @stevendaprano
pep-0638.rst  @markshannon
pep-0639.rst  @CAM-Gerlach
pep-0640.rst  @Yhg1s
pep-0641.rst  @zooba @warsaw @brettcannon
pep-0642.rst  @ncoghlan
pep-0643.rst  @pfmoore
pep-0644.rst  @tiran
pep-0645.rst  @gvanrossum
pep-0646.rst  @gvanrossum
pep-0647.rst  @gvanrossum
pep-0648.rst  @pablogsal
pep-0649.rst  @larryhastings
pep-0650.rst  @brettcannon
pep-0651.rst  @markshannon
pep-0652.rst  @encukou
pep-0653.rst  @markshannon
pep-0654.rst  @1st1 @gvanrossum @iritkatriel
pep-0655.rst  @gvanrossum
pep-0656.rst  @brettcannon
pep-0657.rst  @pablogsal @isidentical @ammaraskar
pep-0658.rst  @brettcannon
pep-0659.rst  @markshannon
pep-0660.rst  @pfmoore
pep-0661.rst  @taleinat
pep-0662.rst  @brettcannon
pep-0662/     @brettcannon
pep-0663.rst  @ethanfurman
pep-0664.rst  @pablogsal
pep-0665.rst  @brettcannon
# pep-0666.rst
pep-0667.rst  @markshannon
pep-0668.rst  @dstufft
pep-0669.rst  @markshannon
pep-0670.rst  @vstinner @erlend-aasland
pep-0671.rst  @rosuav
pep-0672.rst  @encukou
pep-0673.rst  @jellezijlstra
pep-0674.rst  @vstinner
pep-0675.rst  @jellezijlstra
pep-0676.rst  @AA-Turner @Mariatta
pep-0677.rst  @gvanrossum
pep-0678.rst  @iritkatriel
pep-0679.rst  @pablogsal
pep-0680.rst  @encukou
pep-0681.rst  @jellezijlstra
pep-0682.rst  @mdickinson
pep-0683.rst  @ericsnowcurrently
pep-0684.rst  @ericsnowcurrently
# pep-0684.rst
pep-0685.rst  @brettcannon
pep-0686.rst  @methane
pep-0687.rst  @encukou @erlend-aasland
pep-0688.rst  @jellezijlstra
pep-0689.rst  @encukou
pep-0690.rst  @warsaw
pep-0691.rst  @dstufft
# ...
# pep-0754.rst
# ...
pep-0801.rst  @warsaw
# ...
pep-3000.rst  @gvanrossum
pep-3001.rst  @birkenfeld
# pep-3002.rst
pep-3003.rst  @brettcannon  @gvanrossum
# ...
pep-3099.rst  @birkenfeld
pep-3100.rst  @brettcannon
# pep-3101.rst
# pep-3102.rst
pep-3103.rst  @gvanrossum
# pep-3104.rst
pep-3105.rst  @birkenfeld
pep-3106.rst  @gvanrossum
# pep-3107.rst
pep-3108.rst  @brettcannon
# pep-3109.rst
# pep-3110.rst
# pep-3111.rst
# pep-3112.rst
pep-3113.rst  @brettcannon
# pep-3114.rst
# pep-3115.rst
pep-3116.rst  @gvanrossum
pep-3117.rst  @birkenfeld
# pep-3118.rst
pep-3119.rst  @gvanrossum
# pep-3120.rst
# pep-3121.rst
pep-3122.rst  @brettcannon
# pep-3123.rst
# pep-3124.rst
# pep-3125.rst
pep-3126.rst  @rhettinger
# pep-3127.rst
# pep-3128.rst
# pep-3129.rst
# pep-3130.rst
# pep-3131.rst
pep-3132.rst  @birkenfeld
# pep-3133.rst
# pep-3134.rst
# pep-3135.rst
# pep-3136.rst
pep-3137.rst  @gvanrossum
# pep-3138.rst
pep-3139.rst  @benjaminp
# pep-3140.rst
# pep-3141.rst
# pep-3142.rst
# pep-3143.rst
# pep-3144.rst
# pep-3145.rst
# pep-3146.rst
pep-3147.rst  @warsaw
pep-3147-1.dia  @warsaw
pep-3147-1.png  @warsaw
pep-3148.rst  @brianquinlan
pep-3149.rst  @warsaw
pep-3150.rst  @ncoghlan
pep-3151.rst  @pitrou
# pep-3152.rst
# pep-3153.rst
pep-3154.rst  @pitrou
pep-3155.rst  @pitrou
pep-3156.rst  @gvanrossum
# ...
# pep-3333.rst
# ...
pep-8000.rst  @warsaw
pep-8001.rst  @brettcannon @tiran @dstufft @ericsnowcurrently @gpshead @ambv @Mariatta @njsmith @pablogsal @rhettinger @taleinat @tim-one @zware
pep-8002.rst  @warsaw @ambv @pitrou @dhellmann @willingc
pep-8010.rst  @warsaw
pep-8011.rst  @Mariatta @warsaw
pep-8012.rst  @ambv
pep-8013.rst  @zooba
pep-8014.rst  @jackjansen
pep-8015.rst  @vstinner
pep-8016.rst  @njsmith @dstufft
# ...
pep-8100.rst  @njsmith
# pep-8101.rst
# pep-8102.rst
