# The authors and sponsors of PEPs.
# Any commented-out PEP predates PEP sponsorship or their authors are no longer
# active core developers.

# The PEP editors are the fallback "owners" for everything in this repository.
*             @python/pep-editors

# PEP infrastructure
.github/dependabot.yml  @hugovk
.github/workflows/      @AA-Turner @CAM-Gerlach
Makefile                @AA-Turner @hugovk
requirements.txt        @AA-Turner @hugovk
infra/                  @ewdurbin

pep_sphinx_extensions/  @AA-Turner
build.py                @AA-Turner
peps/conf.py            @AA-Turner
peps/contents.rst       @AA-Turner

# Linting infrastructure
.codespell/             @CAM-Gerlach @hugovk
.codespellrc            @CAM-Gerlach @hugovk
.pre-commit-config.yaml @CAM-Gerlach @hugovk
.ruff.toml              @AA-Turner @CAM-Gerlach @hugovk
check-peps.py           @AA-Turner @CAM-Gerlach @hugovk

# Git infrastructure
.gitattributes          @CAM-Gerlach
.gitignore              @CAM-Gerlach

peps/pep-0001.rst  @warsaw @ncoghlan
peps/pep-0001-process_flow.png  @warsaw @ncoghlan
peps/pep-0001/     @warsaw @ncoghlan
# peps/pep-0002.rst
peps/pep-0003.rst  @jeremyhylton
peps/pep-0004.rst  @brettcannon
# peps/pep-0005.rst
# peps/pep-0006.rst
peps/pep-0007.rst  @gvanrossum @warsaw
peps/pep-0008.rst  @gvanrossum @warsaw @ncoghlan
peps/pep-0009.rst  @warsaw
peps/pep-0010.rst  @warsaw
peps/pep-0011.rst  @brettcannon
peps/pep-0012.rst  @brettcannon @warsaw
peps/pep-0012/     @brettcannon
# peps/pep-0013.rst is owned by the entire core team.
# ...
peps/pep-0020.rst  @tim-one
# ...
peps/pep-0042.rst  @jeremyhylton
# ...
peps/pep-0100.rst  @malemburg
peps/pep-0101.rst  @Yhg1s @pablogsal @ambv @ned-deily
peps/pep-0102.rst  @warsaw @gvanrossum
# peps/pep-0103.rst
# ...
peps/pep-0160.rst  @freddrake
# ...
peps/pep-0200.rst  @jeremyhylton
peps/pep-0201.rst  @warsaw
peps/pep-0202.rst  @warsaw
peps/pep-0203.rst  @Yhg1s
peps/pep-0204.rst  @Yhg1s
peps/pep-0205.rst  @freddrake
# peps/pep-0206.rst
peps/pep-0207.rst  @gvanrossum
peps/pep-0208.rst  @nascheme @malemburg
# peps/pep-0209.rst
# peps/pep-0210.rst
# peps/pep-0211.rst
# peps/pep-0212.rst
# peps/pep-0213.rst
peps/pep-0214.rst  @warsaw
# peps/pep-0215.rst
# peps/pep-0216.rst
# peps/pep-0217.rst
peps/pep-0218.rst  @rhettinger
# peps/pep-0219.rst
# peps/pep-0220.rst
peps/pep-0221.rst  @Yhg1s
# peps/pep-0222.rst
peps/pep-0223.rst  @tim-one
peps/pep-0224.rst  @malemburg
# peps/pep-0225.rst
peps/pep-0226.rst  @jeremyhylton
peps/pep-0227.rst  @jeremyhylton
peps/pep-0228.rst  @gvanrossum
# peps/pep-0229.rst
peps/pep-0230.rst  @gvanrossum
peps/pep-0231.rst  @warsaw
peps/pep-0232.rst  @warsaw
# peps/pep-0233.rst
peps/pep-0234.rst  @gvanrossum
peps/pep-0235.rst  @tim-one
peps/pep-0236.rst  @tim-one
peps/pep-0237.rst  @gvanrossum
peps/pep-0238.rst  @gvanrossum
# peps/pep-0239.rst
# peps/pep-0240.rst
# peps/pep-0241.rst
# peps/pep-0242.rst
# peps/pep-0243.rst
# peps/pep-0244.rst
# peps/pep-0245.rst
peps/pep-0246.rst  @aleaxit
# peps/pep-0247.rst
peps/pep-0248.rst  @malemburg
peps/pep-0249.rst  @malemburg
peps/pep-0250.rst  @pfmoore
peps/pep-0251.rst  @warsaw @gvanrossum
peps/pep-0252.rst  @gvanrossum
peps/pep-0253.rst  @gvanrossum
peps/pep-0254.rst  @gvanrossum
peps/pep-0255.rst  @nascheme @tim-one
# peps/pep-0256.rst
peps/pep-0257.rst  @gvanrossum
# peps/pep-0258.rst
peps/pep-0259.rst  @gvanrossum
peps/pep-0260.rst  @gvanrossum
# peps/pep-0261.rst
# peps/pep-0262.rst
peps/pep-0263.rst  @malemburg
# peps/pep-0264.rst
# peps/pep-0265.rst
# peps/pep-0266.rst
peps/pep-0267.rst  @jeremyhylton
# peps/pep-0268.rst
# peps/pep-0269.rst
# peps/pep-0270.rst
# peps/pep-0271.rst
# peps/pep-0272.rst
# peps/pep-0273.rst
peps/pep-0274.rst  @warsaw
peps/pep-0275.rst  @malemburg
# peps/pep-0276.rst
# peps/pep-0277.rst
peps/pep-0278.rst  @jackjansen
peps/pep-0279.rst  @rhettinger
peps/pep-0280.rst  @gvanrossum
# peps/pep-0281.rst
peps/pep-0282.rst  @vsajip
peps/pep-0283.rst  @gvanrossum
# peps/pep-0284.rst
peps/pep-0285.rst  @gvanrossum
# peps/pep-0286.rst
# peps/pep-0287.rst
peps/pep-0288.rst  @rhettinger
peps/pep-0289.rst  @rhettinger
peps/pep-0290.rst  @rhettinger
# peps/pep-0291.rst
peps/pep-0292.rst  @warsaw
peps/pep-0293.rst  @doerwalter
# peps/pep-0294.rst
# peps/pep-0295.rst
# peps/pep-0296.rst
peps/pep-0297.rst  @malemburg
# peps/pep-0298.rst
# peps/pep-0299.rst
# peps/pep-0301.rst
peps/pep-0302.rst  @pfmoore
# peps/pep-0303.rst
# peps/pep-0304.rst
# peps/pep-0305.rst
peps/pep-0306.rst  @jackdied @ncoghlan @benjaminp
peps/pep-0307.rst  @gvanrossum @tim-one
peps/pep-0308.rst  @gvanrossum @rhettinger
# peps/pep-0309.rst
peps/pep-0310.rst  @pfmoore
peps/pep-0311.rst  @mhammond
peps/pep-0312.rst  @aleaxit
# peps/pep-0313.rst
# peps/pep-0314.rst
peps/pep-0315.rst  @rhettinger
# peps/pep-0316.rst
# peps/pep-0317.rst
# peps/pep-0318.rst
# peps/pep-0319.rst
peps/pep-0320.rst  @warsaw @rhettinger
# peps/pep-0321.rst
peps/pep-0322.rst  @rhettinger
peps/pep-0323.rst  @aleaxit
# peps/pep-0324.rst
# peps/pep-0325.rst
peps/pep-0326.rst  @terryjreedy
peps/pep-0327.rst  @facundobatista
# peps/pep-0328.rst
peps/pep-0329.rst  @rhettinger
# peps/pep-0330.rst
# peps/pep-0331.rst
# peps/pep-0332.rst
# peps/pep-0333.rst
# peps/pep-0334.rst
# peps/pep-0335.rst
# peps/pep-0336.rst
# peps/pep-0337.rst
peps/pep-0338.rst  @ncoghlan
peps/pep-0339.rst  @brettcannon
peps/pep-0340.rst  @gvanrossum
peps/pep-0341.rst  @birkenfeld
peps/pep-0342.rst  @gvanrossum
peps/pep-0343.rst  @gvanrossum @ncoghlan
# peps/pep-0344.rst
# peps/pep-0345.rst
peps/pep-0346.rst  @ncoghlan
# peps/pep-0347.rst
peps/pep-0348.rst  @brettcannon
peps/pep-0349.rst  @nascheme
# peps/pep-0350.rst
peps/pep-0351.rst  @warsaw
peps/pep-0352.rst  @brettcannon @gvanrossum
# peps/pep-0353.rst
# peps/pep-0354.rst
# peps/pep-0355.rst
peps/pep-0356.rst  @gvanrossum
# peps/pep-0357.rst
peps/pep-0358.rst  @nascheme @gvanrossum
# peps/pep-0359.rst
peps/pep-0360.rst  @brettcannon
peps/pep-0361.rst  @warsaw
peps/pep-0362.rst  @brettcannon @1st1 @larryhastings
# peps/pep-0363.rst
peps/pep-0364.rst  @warsaw
# peps/pep-0365.rst
peps/pep-0366.rst  @ncoghlan
# peps/pep-0367.rst
# peps/pep-0368.rst
peps/pep-0369.rst  @tiran
peps/pep-0370.rst  @tiran
# peps/pep-0371.rst
peps/pep-0372.rst  @mitsuhiko @rhettinger
peps/pep-0373.rst  @benjaminp
peps/pep-0374.rst  @brettcannon @avassalotti @warsaw
peps/pep-0375.rst  @benjaminp
# peps/pep-0376.rst
peps/pep-0377.rst  @ncoghlan
peps/pep-0378.rst  @rhettinger
# peps/pep-0379.rst
# peps/pep-0380.rst
# peps/pep-0381.rst
# peps/pep-0382.rst
# peps/pep-0383.rst
# peps/pep-0384.rst
peps/pep-0385.rst  @pitrou @birkenfeld
# peps/pep-0386.rst
peps/pep-0387.rst  @benjaminp @vstinner
# peps/pep-0389.rst
# peps/pep-0390.rst
peps/pep-0391.rst  @vsajip
peps/pep-0392.rst  @birkenfeld
# peps/pep-0393.rst
peps/pep-0394.rst  @ncoghlan @warsaw @encukou @willingc
peps/pep-0395.rst  @ncoghlan
peps/pep-0396.rst  @warsaw
peps/pep-0397.rst  @mhammond
peps/pep-0398.rst  @birkenfeld
peps/pep-0399.rst  @brettcannon
peps/pep-0400.rst  @vstinner
peps/pep-0401.rst  @warsaw @brettcannon
# peps/pep-0402.rst
peps/pep-0403.rst  @ncoghlan
peps/pep-0404.rst  @warsaw
# peps/pep-0405.rst
peps/pep-0406.rst  @ncoghlan
peps/pep-0407.rst  @pitrou @birkenfeld @warsaw
peps/pep-0408.rst  @ncoghlan @eliben
peps/pep-0409.rst  @ethanfurman
peps/pep-0410.rst  @vstinner
peps/pep-0411.rst  @ncoghlan @eliben
peps/pep-0412.rst  @markshannon
peps/pep-0413.rst  @ncoghlan
peps/pep-0414.rst  @mitsuhiko @ncoghlan
peps/pep-0415.rst  @benjaminp
peps/pep-0416.rst  @vstinner
peps/pep-0417.rst  @voidspace
peps/pep-0418.rst  @vstinner
peps/pep-0418/     @vstinner
# peps/pep-0419.rst
peps/pep-0420.rst  @ericvsmith
peps/pep-0421.rst  @ericsnowcurrently
peps/pep-0422.rst  @ncoghlan
# peps/pep-0423.rst
peps/pep-0424.rst  @alex
# peps/pep-0425.rst
peps/pep-0426.rst  @ncoghlan @dstufft
peps/pep-0426/     @ncoghlan @dstufft
# peps/pep-0427.rst
peps/pep-0428.rst  @pitrou
peps/pep-0429.rst  @larryhastings
peps/pep-0430.rst  @ncoghlan
# peps/pep-0431.rst
peps/pep-0432.rst  @ncoghlan @vstinner @ericsnowcurrently
peps/pep-0433.rst  @vstinner
peps/pep-0433/     @vstinner
peps/pep-0434.rst  @terryjreedy
peps/pep-0435.rst  @warsaw @eliben @ethanfurman
peps/pep-0436.rst  @larryhastings
# peps/pep-0437.rst
# peps/pep-0438.rst
# peps/pep-0439.rst
peps/pep-0440.rst  @ncoghlan @dstufft
peps/pep-0441.rst  @pfmoore
peps/pep-0442.rst  @pitrou
peps/pep-0443.rst  @ambv
peps/pep-0444.rst  @mitsuhiko
peps/pep-0445.rst  @vstinner
peps/pep-0446.rst  @vstinner
peps/pep-0446/     @vstinner
peps/pep-0447.rst  @ronaldoussoren
# peps/pep-0448.rst
peps/pep-0449.rst  @dstufft
# peps/pep-0450.rst  @stevendaprano
peps/pep-0451.rst  @ericsnowcurrently
peps/pep-0452.rst  @tiran
peps/pep-0453.rst  @dstufft @ncoghlan
peps/pep-0454.rst  @vstinner
peps/pep-0455.rst  @pitrou
peps/pep-0456.rst  @tiran
peps/pep-0457.rst  @larryhastings
# peps/pep-0458.rst, peps/pep-0458-1.png
peps/pep-0459.rst  @ncoghlan
peps/pep-0460.rst  @pitrou
peps/pep-0461.rst  @ethanfurman
peps/pep-0462.rst  @ncoghlan
# peps/pep-0463.rst
peps/pep-0464.rst  @dstufft
peps/pep-0465.rst  @njsmith
peps/pep-0465/     @njsmith
peps/pep-0466.rst  @ncoghlan
peps/pep-0467.rst  @ncoghlan @ethanfurman
peps/pep-0468.rst  @ericsnowcurrently
peps/pep-0469.rst  @ncoghlan
peps/pep-0470.rst  @dstufft
# peps/pep-0471.rst
# peps/pep-0472.rst
# peps/pep-0473.rst
peps/pep-0474.rst  @ncoghlan
peps/pep-0475.rst  @vstinner
peps/pep-0476.rst  @alex
peps/pep-0477.rst  @dstufft @ncoghlan
peps/pep-0478.rst  @larryhastings
peps/pep-0479.rst  @gvanrossum
# peps/pep-0480.rst, peps/pep-0480-1.png
peps/pep-0481.rst  @dstufft
peps/pep-0482.rst  @ambv
peps/pep-0483.rst  @gvanrossum @ilevkivskyi
peps/pep-0484.rst  @gvanrossum @ambv
# peps/pep-0485.rst
peps/pep-0486.rst  @pfmoore
# peps/pep-0487.rst
peps/pep-0488.rst  @brettcannon
peps/pep-0489.rst  @encukou @scoder @ncoghlan
peps/pep-0490.rst  @vstinner
# peps/pep-0491.rst
peps/pep-0492.rst  @1st1
peps/pep-0493.rst  @ncoghlan @malemburg
peps/pep-0494.rst  @ned-deily
peps/pep-0495.rst  @abalkin @tim-one
peps/pep-0495-gap.png  @abalkin @tim-one
peps/pep-0495-gap.svg  @abalkin @tim-one
peps/pep-0495-fold.svg  @abalkin @tim-one
peps/pep-0495-fold-2.png  @abalkin @tim-one
peps/pep-0495-daylightsavings.png  @abalkin @tim-one
# peps/pep-0496.rst
# peps/pep-0497.rst
peps/pep-0498.rst  @ericvsmith
# peps/pep-0499.rst
peps/pep-0500.rst  @abalkin @tim-one
peps/pep-0501.rst  @ncoghlan
# peps/pep-0502.rst
peps/pep-0503.rst  @dstufft
peps/pep-0504.rst  @ncoghlan
peps/pep-0505.rst  @zooba
peps/pep-0505/     @zooba
# peps/pep-0506.rst  @stevendaprano
peps/pep-0507.rst  @warsaw
peps/pep-0508.rst  @rbtcollins
peps/pep-0509.rst  @vstinner
peps/pep-0510.rst  @vstinner
peps/pep-0511.rst  @vstinner
peps/pep-0512.rst  @brettcannon
peps/pep-0513.rst  @njsmith
peps/pep-0514.rst  @zooba
peps/pep-0515.rst  @birkenfeld @serhiy-storchaka
peps/pep-0516.rst  @rbtcollins @njsmith
peps/pep-0517.rst  @njsmith
peps/pep-0518.rst  @brettcannon @njsmith @dstufft
peps/pep-0519.rst  @brettcannon
peps/pep-0520.rst  @ericsnowcurrently
peps/pep-0521.rst  @njsmith
peps/pep-0522.rst  @ncoghlan @njsmith
peps/pep-0523.rst  @brettcannon @DinoV
peps/pep-0524.rst  @vstinner
peps/pep-0525.rst  @1st1
peps/pep-0525-1.png  @1st1
peps/pep-0526.rst  @ilevkivskyi @lisroach @gvanrossum
peps/pep-0527.rst  @dstufft
peps/pep-0528.rst  @zooba
peps/pep-0529.rst  @zooba
peps/pep-0530.rst  @1st1
peps/pep-0531.rst  @ncoghlan
peps/pep-0532.rst  @ncoghlan
peps/pep-0532/     @ncoghlan
peps/pep-0533.rst  @njsmith
peps/pep-0534.rst  @encukou @ncoghlan
peps/pep-0535.rst  @ncoghlan
# peps/pep-0536.rst
peps/pep-0537.rst  @ned-deily
peps/pep-0538.rst  @ncoghlan
# peps/pep-0539.rst
peps/pep-0540.rst  @vstinner
peps/pep-0541.rst  @ambv
# peps/pep-0542.rst
peps/pep-0543.rst  @tiran
peps/pep-0544.rst  @ilevkivskyi @ambv
peps/pep-0545.rst  @JulienPalard @methane @vstinner
peps/pep-0546.rst  @vstinner
peps/pep-0547.rst  @encukou
peps/pep-0548.rst  @bitdancer
peps/pep-0549.rst  @larryhastings
peps/pep-0550.rst  @1st1
peps/pep-0550-lookup_hamt.png  @1st1
peps/pep-0550-hamt_vs_dict.png  @1st1
peps/pep-0550-hamt_vs_dict-v2.png  @1st1
peps/pep-0551.rst  @zooba
peps/pep-0552.rst  @benjaminp
peps/pep-0553.rst  @warsaw
peps/pep-0554.rst  @ericsnowcurrently
# peps/pep-0555.rst
peps/pep-0556.rst  @pitrou
peps/pep-0557.rst  @ericvsmith
peps/pep-0558.rst  @ncoghlan
peps/pep-0559.rst  @warsaw
peps/pep-0560.rst  @ilevkivskyi
# peps/pep-0561.rst
peps/pep-0562.rst  @ilevkivskyi
peps/pep-0563.rst  @ambv
peps/pep-0564.rst  @vstinner
peps/pep-0565.rst  @ncoghlan
# peps/pep-0566.rst
peps/pep-0567.rst  @1st1
peps/pep-0568.rst  @njsmith
peps/pep-0569.rst  @ambv
peps/pep-0570.rst  @larryhastings @pablogsal
# peps/pep-0571.rst
peps/pep-0572.rst  @tim-one @gvanrossum
peps/pep-0573.rst  @encukou @ncoghlan @ericsnowcurrently
peps/pep-0574.rst  @pitrou
# peps/pep-0575.rst
peps/pep-0576.rst  @markshannon
peps/pep-0577.rst  @ncoghlan
peps/pep-0578.rst  @zooba
# peps/pep-0579.rst
# peps/pep-0580.rst
peps/pep-0581.rst  @Mariatta
peps/pep-0582.rst  @kushaldas @zooba @dstufft @ncoghlan
# peps/pep-0583.rst
peps/pep-0584.rst  @brandtbucher  # @stevendaprano
peps/pep-0585.rst  @ambv
peps/pep-0586.rst  @ilevkivskyi
peps/pep-0587.rst  @vstinner @ncoghlan
peps/pep-0588.rst  @Mariatta
peps/pep-0589.rst  @gvanrossum
peps/pep-0590.rst  @markshannon
peps/pep-0591.rst  @ilevkivskyi
peps/pep-0592.rst  @dstufft
peps/pep-0593.rst  @ilevkivskyi
peps/pep-0594.rst  @tiran @brettcannon
peps/pep-0595.rst  @ezio-melotti @berkerpeksag
peps/pep-0596.rst  @ambv
peps/pep-0597.rst  @methane
peps/pep-0598.rst  @ncoghlan
peps/pep-0599.rst  @pfmoore
peps/pep-0600.rst  @njsmith
peps/pep-0601.rst  @isidentical
peps/pep-0602.rst  @ambv
peps/pep-0602-example-release-calendar.png  @ambv
peps/pep-0602-example-release-calendar.pptx  @ambv
peps/pep-0602-overlapping-support-matrix.png  @ambv
peps/pep-0602-overlapping-support-matrix.pptx  @ambv
peps/pep-0603.rst  @1st1
peps/pep-0603-lookup_hamt.png  @1st1
peps/pep-0603-hamt_vs_dict.png  @1st1
# peps/pep-0604.rst
peps/pep-0605.rst  @zooba @ncoghlan
peps/pep-0605-example-release-calendar.png  @zooba @ncoghlan
peps/pep-0605-overlapping-support-matrix.png  @zooba @ncoghlan
peps/pep-0605/     @zooba @ncoghlan
peps/pep-0606.rst  @vstinner
peps/pep-0607.rst  @ambv @zooba @ncoghlan
peps/pep-0608.rst  @vstinner
peps/pep-0609.rst  @pganssle
peps/pep-0610.rst  @cjerdonek
peps/pep-0611.rst  @markshannon
peps/pep-0612.rst  @gvanrossum
peps/pep-0613.rst  @gvanrossum
peps/pep-0614.rst  @brandtbucher
peps/pep-0615.rst  @pganssle
peps/pep-0616.rst  @ericvsmith
peps/pep-0617.rst  @gvanrossum @pablogsal @lysnikolaou
peps/pep-0618.rst  @brandtbucher
peps/pep-0619.rst  @pablogsal
peps/pep-0620.rst  @vstinner
peps/pep-0621.rst  @brettcannon  @pganssle
peps/pep-0622.rst  @brandtbucher @ilevkivskyi @gvanrossum
peps/pep-0623.rst  @methane
peps/pep-0624.rst  @methane
peps/pep-0625.rst  @pfmoore
peps/pep-0626.rst  @markshannon
peps/pep-0627.rst  @encukou
peps/pep-0628.rst  @ncoghlan
peps/pep-0629.rst  @dstufft
peps/pep-0630.rst  @encukou
peps/pep-0631.rst  @pganssle
peps/pep-0632.rst  @zooba
peps/pep-0633.rst  @brettcannon
peps/pep-0634.rst  @brandtbucher @gvanrossum
peps/pep-0635.rst  @brandtbucher @gvanrossum
peps/pep-0636.rst  @brandtbucher @gvanrossum
# peps/pep-0637.rst  @stevendaprano
peps/pep-0638.rst  @markshannon
peps/pep-0639.rst  @CAM-Gerlach
peps/pep-0640.rst  @Yhg1s
peps/pep-0641.rst  @zooba @warsaw @brettcannon
peps/pep-0642.rst  @ncoghlan
peps/pep-0643.rst  @pfmoore
peps/pep-0644.rst  @tiran
peps/pep-0645.rst  @gvanrossum
peps/pep-0646.rst  @gvanrossum
peps/pep-0647.rst  @gvanrossum
peps/pep-0648.rst  @pablogsal
peps/pep-0649.rst  @larryhastings
peps/pep-0650.rst  @brettcannon
peps/pep-0651.rst  @markshannon
peps/pep-0652.rst  @encukou
peps/pep-0653.rst  @markshannon
peps/pep-0654.rst  @1st1 @gvanrossum @iritkatriel
peps/pep-0655.rst  @gvanrossum
peps/pep-0656.rst  @brettcannon
peps/pep-0657.rst  @pablogsal @isidentical @ammaraskar
peps/pep-0658.rst  @brettcannon
peps/pep-0659.rst  @markshannon
peps/pep-0660.rst  @pfmoore
peps/pep-0661.rst  @taleinat
peps/pep-0662.rst  @brettcannon
peps/pep-0662/     @brettcannon
peps/pep-0663.rst  @ethanfurman
peps/pep-0664.rst  @pablogsal
peps/pep-0665.rst  @brettcannon
# peps/pep-0666.rst
peps/pep-0667.rst  @markshannon
peps/pep-0668.rst  @dstufft
peps/pep-0669.rst  @markshannon
peps/pep-0670.rst  @vstinner @erlend-aasland
peps/pep-0671.rst  @rosuav
peps/pep-0672.rst  @encukou
peps/pep-0673.rst  @jellezijlstra
peps/pep-0674.rst  @vstinner
peps/pep-0675.rst  @jellezijlstra
peps/pep-0676.rst  @AA-Turner @Mariatta
peps/pep-0677.rst  @gvanrossum
peps/pep-0678.rst  @iritkatriel
peps/pep-0679.rst  @pablogsal
peps/pep-0680.rst  @encukou
peps/pep-0681.rst  @jellezijlstra
peps/pep-0682.rst  @mdickinson
peps/pep-0683.rst  @ericsnowcurrently
peps/pep-0684.rst  @ericsnowcurrently
# peps/pep-0684.rst
peps/pep-0685.rst  @brettcannon
peps/pep-0686.rst  @methane
peps/pep-0687.rst  @encukou @erlend-aasland
peps/pep-0688.rst  @jellezijlstra
peps/pep-0689.rst  @encukou
peps/pep-0690.rst  @warsaw
peps/pep-0691.rst  @dstufft
peps/pep-0692.rst  @jellezijlstra
peps/pep-0693.rst  @Yhg1s
peps/pep-0694.rst  @dstufft
peps/pep-0695.rst  @gvanrossum
peps/pep-0696.rst  @jellezijlstra
peps/pep-0697.rst  @encukou
peps/pep-0698.rst  @jellezijlstra
peps/pep-0699.rst  @Fidget-Spinner
peps/pep-0700.rst  @pfmoore
peps/pep-0701.rst  @pablogsal @isidentical @lysnikolaou
peps/pep-0702.rst  @jellezijlstra
peps/pep-0703.rst  @ambv
peps/pep-0704.rst  @brettcannon @pradyunsg
peps/pep-0705.rst  @pablogsal
peps/pep-0706.rst  @encukou
peps/pep-0707.rst  @iritkatriel
peps/pep-0708.rst  @dstufft
peps/pep-0709.rst  @carljm
peps/pep-0710.rst  @dstufft
peps/pep-0711.rst  @njsmith
peps/pep-0712.rst  @ericvsmith
peps/pep-0713.rst  @ambv
peps/pep-0714.rst  @dstufft
peps/pep-0715.rst  @dstufft
peps/pep-0718.rst  @gvanrossum
peps/pep-0719.rst  @Yhg1s
peps/pep-0720.rst  @FFY00
peps/pep-0721.rst  @encukou
peps/pep-0722.rst  @pfmoore
peps/pep-0723.rst  @AA-Turner
peps/pep-0724.rst  @jellezijlstra
peps/pep-0725.rst  @pradyunsg
peps/pep-0726.rst  @AA-Turner
peps/pep-0727.rst  @JelleZijlstra
peps/pep-0728.rst  @JelleZijlstra
peps/pep-0729.rst  @JelleZijlstra @hauntsaninja
peps/pep-0730.rst  @ned-deily
peps/pep-0731.rst  @gvanrossum @encukou @vstinner @zooba @iritkatriel
peps/pep-0732.rst  @Mariatta
peps/pep-0733.rst  @encukou @vstinner @zooba @iritkatriel
peps/pep-0734.rst  @ericsnowcurrently
peps/pep-0735.rst  @brettcannon
peps/pep-0736.rst  @Rosuav
peps/pep-0737.rst  @vstinner
peps/pep-0738.rst  @encukou
peps/pep-0740.rst  @dstufft
peps/pep-0741.rst  @vstinner
peps/pep-0742.rst  @JelleZijlstra
peps/pep-0743.rst  @vstinner
peps/pep-0744.rst  @brandtbucher
peps/pep-0745.rst  @hugovk
# ...
# peps/pep-0754.rst
# ...
peps/pep-0801.rst  @warsaw
# ...
peps/pep-3000.rst  @gvanrossum
peps/pep-3001.rst  @birkenfeld
# peps/pep-3002.rst
peps/pep-3003.rst  @brettcannon  @gvanrossum
# ...
peps/pep-3099.rst  @birkenfeld
peps/pep-3100.rst  @brettcannon
# peps/pep-3101.rst
# peps/pep-3102.rst
peps/pep-3103.rst  @gvanrossum
# peps/pep-3104.rst
peps/pep-3105.rst  @birkenfeld
peps/pep-3106.rst  @gvanrossum
# peps/pep-3107.rst
peps/pep-3108.rst  @brettcannon
# peps/pep-3109.rst
# peps/pep-3110.rst
# peps/pep-3111.rst
# peps/pep-3112.rst
peps/pep-3113.rst  @brettcannon
# peps/pep-3114.rst
# peps/pep-3115.rst
peps/pep-3116.rst  @gvanrossum
peps/pep-3117.rst  @birkenfeld
# peps/pep-3118.rst
peps/pep-3119.rst  @gvanrossum
# peps/pep-3120.rst
# peps/pep-3121.rst
peps/pep-3122.rst  @brettcannon
# peps/pep-3123.rst
# peps/pep-3124.rst
# peps/pep-3125.rst
peps/pep-3126.rst  @rhettinger
# peps/pep-3127.rst
# peps/pep-3128.rst
# peps/pep-3129.rst
# peps/pep-3130.rst
# peps/pep-3131.rst
peps/pep-3132.rst  @birkenfeld
# peps/pep-3133.rst
# peps/pep-3134.rst
# peps/pep-3135.rst
# peps/pep-3136.rst
peps/pep-3137.rst  @gvanrossum
# peps/pep-3138.rst
peps/pep-3139.rst  @benjaminp
# peps/pep-3140.rst
# peps/pep-3141.rst
# peps/pep-3142.rst
# peps/pep-3143.rst
# peps/pep-3144.rst
# peps/pep-3145.rst
# peps/pep-3146.rst
peps/pep-3147.rst  @warsaw
peps/pep-3147-1.dia  @warsaw
peps/pep-3147-1.png  @warsaw
peps/pep-3148.rst  @brianquinlan
peps/pep-3149.rst  @warsaw
peps/pep-3150.rst  @ncoghlan
peps/pep-3151.rst  @pitrou
# peps/pep-3152.rst
# peps/pep-3153.rst
peps/pep-3154.rst  @pitrou
peps/pep-3155.rst  @pitrou
peps/pep-3156.rst  @gvanrossum
# ...
# peps/pep-3333.rst
# ...
peps/pep-8000.rst  @warsaw
peps/pep-8001.rst  @brettcannon @tiran @dstufft @ericsnowcurrently @gpshead @ambv @Mariatta @njsmith @pablogsal @rhettinger @taleinat @tim-one @zware
peps/pep-8002.rst  @warsaw @ambv @pitrou @dhellmann @willingc
peps/pep-8010.rst  @warsaw
peps/pep-8011.rst  @Mariatta @warsaw
peps/pep-8012.rst  @ambv
peps/pep-8013.rst  @zooba
peps/pep-8014.rst  @jackjansen
peps/pep-8015.rst  @vstinner
peps/pep-8016.rst  @njsmith @dstufft
# ...
peps/pep-8100.rst  @njsmith
# peps/pep-8101.rst
# peps/pep-8102.rst
