version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: monthly
    assignees:
      - "ezio-melotti"
    groups:
      actions:
        patterns:
          - "*"
    cooldown:
      default-days: 7
