# PEPs
pep-0000.rst
peps.rss
topic
/build

# Bytecode
__pycache__
*.py[co]

# Editors
*~
.idea
.vscode
*.swp

# Tests
coverage.xml
.coverage
.tox

# Virtual environments
*env
/venv

# Builds
/sphinx-warnings.txt
/peps/numerical.rst
