# Ensure files are always checked in with consistent line endings
* text eol=lf
*.png binary
*.pptx binary
*.odp binary

# Instruct linguist not to ignore the PEPs
# https://github.com/github-linguist/linguist/blob/master/docs/overrides.md
peps/*.rst text linguist-detectable
