# https://docs.pytest.org/en/stable/reference/customize.html

[pytest]
minversion = "9.0"

# https://docs.pytest.org/en/stable/reference/reference.html#command-line-flags
addopts = [
    # Show extra summary information for all non-passing tests
    "-r a",
    # https://docs.pytest.org/en/stable/explanation/pythonpath.html#import-modes
    "--import-mode=importlib",
    # https://pytest-cov.readthedocs.io/en/latest/config.html#reference
    "--cov=check_peps",
    "--cov=pep_sphinx_extensions",
    "--cov=release_management",
    "--cov-report=html",
    "--cov-report=xml",
]

# Fail if pytest.mark.parametrize() has no parameters
empty_parameter_set_mark = "fail_at_collect"

filterwarnings = ["error"]

testpaths = [
    "pep_sphinx_extensions",
    "release_management",
]

# https://docs.pytest.org/en/stable/reference/reference.html#confval-strict
strict_config = true
strict_markers = true
strict_parametrization_ids = true
strict_xfail = true

# Various tests use Unicode in pytest.mark.parametrize().
disable_test_id_escaping_and_forfeit_all_rights_to_community_support = true
