# Requirements for building PEPs with Sphinx
Pygments >= 2.9.0
# Sphinx 6.1.0 broke copying images in parallel builds; fixed in 6.1.2
# See https://github.com/sphinx-doc/sphinx/pull/11100
Sphinx >= 5.1.1, != 6.1.0, != 6.1.1
docutils >= 0.19.0

# For tests
pytest
pytest-cov
