# Requirements for building PEPs with Sphinx
# Sphinx requires >= 2.17. JSON5 support added in 2.19
Pygments >= 2.19
# Sphinx 6.1.0 broke copying images in parallel builds; fixed in 6.1.2
# See https://github.com/sphinx-doc/sphinx/pull/11100
Sphinx >= 5.1.1, != 6.1.0, != 6.1.1, < 8.1.0
docutils >= 0.19.0
sphinx-notfound-page >= 1.0.2
# For search
pagefind[bin] >= 1.4.0

# For tests
pytest>=9
pytest-cov

# For python-releases.toml
tomli >= 1.1.0 ; python_version < "3.11"
