# Requirements for building PEPs with Sphinx

# Sphinx requires >= 2.17. JSON5 support added in 2.19, `lazy` highlight added in 2.21
pygments >= 2.21

Sphinx >= 8.2
# 0.22 causes build errors, see https://github.com/python/peps/issues/4924
docutils < 0.22
sphinx-notfound-page >= 1.0.2
# For search
pagefind[bin] >= 1.5.0

# For tests
pytest>=9
pytest-cov

# For python-releases.toml
tomli >= 1.1.0 ; python_version < "3.11"
