body                   { margin: 0px;
                         padding: 0px; }
.navigation            { width: 100%;
                         background: #99ccff; }
.navigation .navicon   { width: 150px;
                         height: 35; }
.navigation .textlinks { padding-left: 1em;
                         text-align: left; }

.header                { margin-top: 0.5em; }
.header, .content      { margin-left: 1em;
                         margin-right: 1em; }

.header table td       { text-align: left; }
.header table th       { text-align: right;
                         font-family: sans-serif;
                         padding-right: 0.5em; }

h3                     { font-family: sans-serif; }
