.navigation { width: 100%;
              background: #99ccff; }

.navigation .navicon { width: 150px;
                       height: 35; }
.navigation .textlinks { padding-left: 1em;
                         text-align: left; }

.header, .content { margin-left: 1em;
                    margin-right: 1em;
                    padding-left: 1em;
                    padding-right: 1em; }

body { margin: 0px;
       padding: 0px; }
