@charset "UTF-8";
/*
 * This stylesheet is separate from `style.css` to allow toggling dark mode with
 * a button, with no duplication of information
 */

/* Set master 'dark-mode' colours */
:root {
    --colour-background: #011;
    --colour-background-accent: #333;
    --colour-text: #ccc;
    --colour-links: #8bf;
    --colour-scrollbar: #333;
    --colour-rule-strong: #777;
    --colour-rule-light: #222;
    --colour-inline-code: #333;
    --colour-warning: #900;
}
