@charset "UTF-8";
/* Media Queries */
@media (max-width: 32.5em) {
    /* Reduce padding & margins for the smallest screens */
    section#pep-page-section > header > h1 {
        padding-right: 0;
        border-right: none;
    }
    ul.breadcrumbs {
        padding: 0 0 .5rem;
    }
    nav#pep-sidebar {
        display: none;
    }
    table th,
    table td {
        padding: 0 0.1rem;
    }
}
@media (min-width: 32.5em) {
    section#pep-page-section {
        max-width: 40em;
        width: 100%;
        margin: 0 auto;
        padding: .5rem 1rem 0;
    }
}
@media (min-width: 54em) {
    section#pep-page-section {
        max-width: 75em;
    }
    section#pep-page-section > article {
        max-width: 40em;
        width: 74%;
        float: right;
        margin-right: 0;
        font-size: 1rem;
    }
    nav#pep-sidebar {
        width: 24%;
        float: left;
        margin-right: 2%;
    }
}
@media (min-width: 60em) {
    section#pep-page-section > article {
        max-width: none;
        padding-left: 3.2%;
        padding-right: 3.2%;
    }
}

@media print {
    *,
    *:before,
    *:after {
        color: #000 !important;
    }
    body {
        font-size: 10pt;
        line-height: 1.67;
    }
    *[role="main"] a[href]:after {
        content: " (" attr(href) ")";
        font-size: .75rem;
    }
    pre,
    blockquote {
        page-break-inside: avoid;
    }
    thead {
        display: table-header-group;
    }
    tr,
    img {
        page-break-inside: avoid;
    }
    img {
        max-width: 100% !important;
    }
    @page {
        margin: 0.5cm;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h1,
    h2,
    h3 {
        page-break-after: avoid;
    }
}
