@charset "UTF-8";
/* Media Queries */
@media (min-width: 0em) {
    section {
        padding: .5rem 1rem 0;
    }
    nav {
        display: none;
    }
}
@media (min-width: 32.5em) {
    section {
        clear: both;
        max-width: 40em;
        width: 100%;
        margin: 0 auto;
    }
}
@media (min-width: 54em) {
    section {
        max-width: 75em;
    }
    article {
        max-width: 40em;
        width: 74%;
        float: right;
        margin-right: 0;
        font-size: 1rem;
    }
    nav {
        width: 24%;
        margin-right: 2%;
        display: initial;
    }
}
@media (min-width: 60em) {
    article {
        max-width: none;
        padding-left: 3.2%;
        padding-right: 3.2%;
    }
}

@media print {
    *,
    *:before,
    *:after {
        color: #000 !important;
    }
    body {
        font-size: 10pt;
        line-height: 1.67;
    }
    *[role="main"] a[href]:after {
        content: " (" attr(href) ")";
        font-size: .75rem;
    }
    pre,
    blockquote {
        page-break-inside: avoid;
    }
    thead {
        display: table-header-group;
    }
    tr,
    img {
        page-break-inside: avoid;
    }
    img {
        max-width: 100% !important;
    }
    @page {
        margin: 0.5cm;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h1,
    h2,
    h3 {
        page-break-after: avoid;
    }
}
