@charset "UTF-8";
/* Styles for PEPs

Colours:
white:
    background
    footnotes/references vertical border
#333
    body text
#878787
    blockquote left line
    header breadcrumbs separator
    link underline (hovered/focussed)
#ccc:
    scrollbar
#ddd
    header bottom border
    horizontal rule
    table vertical border
#eee:
    link underline
    table rows & top/bottom border
    PEP header rows
    footnotes/references rows
#f8f8f8:
    inline code background
#0072aa:
    links

admonitions:
    note background: #eee
    note border: #ccc
    warning background: #ffe4e4
    warning border: #f66

*/

/* Set master rules */
* {box-sizing: border-box}
html {
    overflow-y: scroll;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    line-height: 1.4rem;
    font-weight: normal;
    font-size: 1rem;
    font-family: "Source Sans Pro", Arial, sans-serif;
}
body {
    margin: 0;
    color: #333;
    background-color: white;
}
section {
    padding: 0.25rem 0.25rem 0;
}

/* Fix margins (remove top margin for body text) */
p,
blockquote {
    margin: 0 0 .5rem;
}

/* Header rules */
h1.page-title {
    line-height: 2.3rem;
    font-size: 2rem;
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}
h2 {
    font-size: 1.6rem;
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: .5rem;
}
h3 {
    font-size: 1.4rem;
    font-weight: normal;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}
h4 {
    font-size: 1.2rem;
    font-weight: normal;
    margin-top: .5rem;
    margin-bottom: 0;
}
h5,
h6 {
    font-size: 1rem;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
}

/* Anchor link rules */
a,
a:active,
a:visited {
    color: #0072aa;
    text-decoration-color: #eee;
    display: inline;
}
a:hover,
a:focus {
    text-decoration-color: #878787;
}

/* Blockquote rules */
blockquote {
    font-style: italic;
    border-left: 1px solid #878787;
    margin-left: .5rem;
    margin-right: .5rem;
    padding: .5rem 1rem;
}
blockquote em {
    font-style: normal;
}

cite {
    font-style: italic;
}

/* Code rules (code literals and Pygments highlighting blocks) */
pre,
code {
    font-family: ui-monospace, "Cascadia Mono", "Segoe UI Mono", "DejaVu Sans Mono", Consolas, monospace;
    white-space: pre-wrap;
    word-wrap: break-word;
    -webkit-hyphens: none;
    hyphens: none;
}
code.literal {
    font-size: .8em;
    background-color: #f8f8f8;
}
pre {
    padding: .5rem .75rem;
}

/* Definition list rules */
dl dt {
    font-weight: bold;
}
dl dd {
    margin: 0;
}

/* Horizontal rule rule */
hr {
    border: 0;
    border-top: 1px solid #ddd;
    margin: 1.75rem 0;
}
/*Image rules */
img {
    max-width: 100%;
}
a img {
    display: block;
    margin: 0 auto;
}

/* List rules */
ul,
ol {
    padding: 0;
    margin: 0 0 0 1.5rem;
}
ul {list-style: square}
ol.arabic {list-style: decimal}
ol.loweralpha {list-style: lower-alpha}
ol.upperalpha {list-style: upper-alpha}
ol.lowerroman {list-style: lower-roman}
ol.upperroman {list-style: upper-roman}

/* Maths rules */
sub,
sup {
    font-size: .75em;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup {top: -0.5em}
sub {bottom: -0.25em}

/* Table rules */
table {
    width: 100%;
    border-collapse: collapse;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}
table caption {
    margin: 1rem 0 .75rem;
}
table tbody tr:nth-of-type(odd) {
    background-color: #eee;
}
table th,
table td {
    text-align: left;
    padding: 0.25rem 0.5rem 0.2rem;
}
table td + td {
    border-left: 1px solid #ddd;
}

/* Breadcrumbs rules */
header {
    border-bottom: 1px solid #ddd;
}
header > h1 {
    font-size: 1.1rem;
    margin: 0;
    display: inline-block;
    padding-right: .6rem;
    border-right: 1px solid #878787;
}
ul.breadcrumbs {
    margin: 0;
    padding: .5rem 0 .5rem .4rem;
    list-style: none;
    display: inline-block;
}
ul.breadcrumbs li {
    display: inline;
}
ul.breadcrumbs a {
    text-decoration: none;
}

/* Admonitions rules */
div.note,
div.warning {
    border: 1px solid;
    padding: 0.5rem 0.75rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
div.note {
    background-color: #eee;
    border-color: #ccc;
}
div.warning {
    background-color: #ffe4e4;
    border-color: #f66;
}
p.admonition-title {
    font-weight: bold;
}
p.admonition-title:after {
    content: ":";
}

/* PEP Header / references rules */
dl.rfc2822,
dl.footnote {
    display: grid;
    grid-template-columns: fit-content(30%) auto;
    line-height: 1.875;
    width: 100%;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}
dl.rfc2822 > dt, dl.rfc2822 > dd,
dl.footnote > dt, dl.footnote > dd {
    padding: .25rem .5rem .2rem;
}
dl.rfc2822 > dt:nth-of-type(even), dl.rfc2822 > dd:nth-of-type(even),
dl.footnote > dt:nth-of-type(even), dl.footnote > dd:nth-of-type(even) {
    background-color: #eee;
}
dl.footnote > dt {
    font-weight: normal;
    border-right: 1px solid white;
}

/* Sidebar formatting */
nav {
    overflow-y: scroll;
    float: left;
    position: sticky;
    top: 0;
    height: 100vh;
    scrollbar-width: thin;  /* CSS Standards, not *yet* widely supported */
    scrollbar-color: #ccc transparent;
}
nav::-webkit-scrollbar {width: 6px}
nav::-webkit-scrollbar-track {background: transparent}
nav::-webkit-scrollbar-thumb {background: #ccc}
nav > h2 {
    font-size: 1.4rem;
}
nav ul {
    margin-left: 1rem;
}
nav ul a {
    text-decoration: none;
}
