@charset "UTF-8";
/* Styles for PEPs */

/* Set master 'light-mode' colours (default) */
:root {
    --colour-background: white;
    --colour-background-accent: #eee;
    --colour-text: #333;
    --colour-links: #0072aa;
    --colour-scrollbar: #ccc;
    --colour-rule-strong: #888;
    --colour-rule-light: #ddd;
    --colour-inline-code: #f8f8f8;
    --colour-warning: #fee;
}

/* Set master rules */
* {box-sizing: border-box}
:root {color-scheme: light dark}
html {
    overflow-y: scroll;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    line-height: 1.4rem;
    font-weight: normal;
    font-size: 1rem;
    font-family: "Source Sans Pro", Arial, sans-serif;
}
body {
    margin: 0;
    color: var(--colour-text);
    background-color: var(--colour-background);
}
section#pep-page-section {
    padding: 0.25rem 0.25rem 0;
    display: table;
}

/* Reduce margin sizes for body text */
p {margin: .5rem 0}

/* Header rules */
h1 {
    line-height: 2.3rem;
    font-size: 2rem;
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}
h2 {
    font-size: 1.6rem;
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: .5rem;
}
h3 {
    font-size: 1.4rem;
    font-weight: normal;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}
h4 {
    font-size: 1.2rem;
    font-weight: normal;
    margin-top: .5rem;
    margin-bottom: 0;
}
h5,
h6 {
    font-size: 1rem;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
}

/* Anchor link rules */
a,
a:active,
a:visited {
    color: var(--colour-links);
    text-decoration-color: var(--colour-background-accent);
    display: inline;
}
a:hover,
a:focus {
    text-decoration-color: var(--colour-rule-strong);
}

/* Blockquote rules */
blockquote {
    font-style: italic;
    border-left: 1px solid var(--colour-rule-strong);
    margin: .5rem;
    padding: .5rem 1rem;
}
blockquote em {
    font-style: normal;
}

cite {
    font-style: italic;
}

/* Code rules (code literals and Pygments highlighting blocks) */
pre,
code {
    font-family: ui-monospace, "Cascadia Mono", "Segoe UI Mono", "DejaVu Sans Mono", Consolas, monospace;
    white-space: pre-wrap;
    word-wrap: break-word;
    -webkit-hyphens: none;
    hyphens: none;
}
code.literal {
    font-size: .8em;
    background-color: var(--colour-inline-code);
}
pre {
    padding: .5rem .75rem;
}

/* Definition list rules */
dl dt {
    font-weight: bold;
}
dl dd {
    margin: 0;
}

/* Horizontal rule rule */
hr {
    border: 0;
    border-top: 1px solid var(--colour-rule-light);
    margin: 1.75rem 0;
}
/*Image rules */
img {
    max-width: 100%;
}
a img {
    display: block;
    margin: 0 auto;
}

/* List rules */
ul,
ol {
    padding: 0;
    margin: 0 0 0 1.5rem;
}
ul {list-style: square}
ol.arabic {list-style: decimal}
ol.loweralpha {list-style: lower-alpha}
ol.upperalpha {list-style: upper-alpha}
ol.lowerroman {list-style: lower-roman}
ol.upperroman {list-style: upper-roman}

/* Maths rules */
sub,
sup {
    font-size: .75em;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup {top: -0.5em}
sub {bottom: -0.25em}

/* Table rules */
table {
    width: 100%;
    border-collapse: collapse;
    border-top: 1px solid var(--colour-background-accent);
    border-bottom: 1px solid var(--colour-background-accent);
}
table caption {
    margin: 1rem 0 .75rem;
}
table tbody tr:nth-of-type(odd) {
    background-color: var(--colour-background-accent);
}
table th,
table td {
    text-align: left;
    padding: 0.25rem 0.5rem 0.2rem;
}
table td + td {
    border-left: 1px solid var(--colour-rule-light);
}

/* Breadcrumbs rules */
section#pep-page-section > header {
    border-bottom: 1px solid var(--colour-rule-light);
}
section#pep-page-section > header > h1 {
    font-size: 1.1rem;
    line-height: 1.4rem;
    margin: 0;
    display: inline-block;
    padding-right: .6rem;
    border-right: 1px solid var(--colour-rule-strong);
}
ul.breadcrumbs {
    margin: 0;
    padding: .5rem 0 .5rem .4rem;
    list-style: none;
    display: inline-block;
}
ul.breadcrumbs li {
    display: inline;
}
ul.breadcrumbs a {
    text-decoration: none;
}

/* Dark mode toggle rules */
section#pep-page-section > header > button {
    background: transparent url(colour_scheme.svg) 0/contain;
    border: none;
    cursor: pointer;
    width: 1.2rem;
    height: 1.2rem;
    float: right;
    translate: 0 50%;
}

/* Admonitions rules */
div.note,
div.warning {
    padding: 0.5rem 0.75rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
div.note {
    background-color: var(--colour-background-accent);
}
div.warning {
    background-color: var(--colour-warning);
}
p.admonition-title {
    font-weight: bold;
}

/* PEP Header / references rules */
dl.rfc2822,
dl.footnote {
    display: grid;
    grid-template-columns: fit-content(30%) auto;
    line-height: 1.875;
    width: 100%;
    border-top: 1px solid var(--colour-background-accent);
    border-bottom: 1px solid var(--colour-background-accent);
}
dl.rfc2822 > dt, dl.rfc2822 > dd,
dl.footnote > dt, dl.footnote > dd {
    padding: .25rem .5rem .2rem;
}
dl.rfc2822 > dt:nth-of-type(even), dl.rfc2822 > dd:nth-of-type(even),
dl.footnote > dt:nth-of-type(even), dl.footnote > dd:nth-of-type(even) {
    background-color: var(--colour-background-accent);
}
dl.footnote > dt {
    font-weight: normal;
    border-right: 1px solid var(--colour-background);
}

/* Sidebar formatting */
#pep-sidebar {
    overflow-y: scroll;
    position: sticky;
    top: 0;
    height: 100vh;
    scrollbar-width: thin;  /* CSS Standards, not *yet* widely supported */
    scrollbar-color: var(--colour-scrollbar) transparent;
}
#pep-sidebar::-webkit-scrollbar {width: 6px}
#pep-sidebar::-webkit-scrollbar-track {background: transparent}
#pep-sidebar::-webkit-scrollbar-thumb {background: var(--colour-scrollbar)}
#pep-sidebar > h2 {
    font-size: 1.4rem;
}
#pep-sidebar ul {
    margin-left: 1rem;
}
#pep-sidebar ul a {
    text-decoration: none;
}
#toc-title {
    font-weight: bold;
}
#source {
    padding-bottom: 2rem;
    font-weight: bold;
}

.reference.external > strong {
    font-weight: normal;  /* Fix strong links for :pep: and :rfc: roles */
}
