@charset "UTF-8";
.container:after {
    content: "";
    display: table;
    clear: both;
}
@media (min-width: 25em) {
    .content-wrapper .container {
        padding: 1em 1.5em;
    }
}
@media (min-width: 32.5em) {
    .content-wrapper {
        clear: both;
    }
    .container {
        max-width: 75em;
        width: 100%;
        margin: 0 auto;
        padding: 0;
    }
}
@media (min-width: 40em) {
    .touch body,
    .touch #touchnav-wrapper {
        position: relative;
        width: 100%;
    }
    .main-content {
        width: 65.95745%;
        float: right;
        margin-right: 0;
        #margin-left: -20px;
    }
    .text {
        font-size: 0.9375em;
    }
    .left-sidebar {
        width: 31.91489%;
        float: left;
        margin-right: 2.12766%;
        margin-top: 1em;
    }
}
@media (min-width: 50em) {
    .main-content {
        width: 74.46809%;
        float: right;
        margin-right: 0;
        #margin-left: -20px;
    }
    .left-sidebar {
        width: 23.40426%;
        float: left;
        margin-right: 2.12766%;
    }
}
@media (min-width: 58.75em) {
    .main-content {
        padding-left: 3.19149%;
        padding-right: 3.19149%;
    }
    .text > p:first-of-type {
        color: #666;
        font-size: 1.125em;
        line-height: 1.6875;
        margin-bottom: 1.25em;
    }
    .touch body,
    .touch #touchnav-wrapper {
        position: relative;
        width: 100%;
    }
}
