@charset "UTF-8";
.container,
.row {
    *zoom: 1;
}
.container:after,
.row:after {
    content: "";
    display: table;
    clear: both;
}
.container,
.row {
    *zoom: 1;
}
.container:after,
.row:after {
    content: "";
    display: table;
    clear: both;
}
@media (max-width: 30em) {
    body:after {
        content: "animatebody";
        display: none;
        speak: none;
    }
}
@media (min-width: 25em) {
    body:after {
        content: "animatebody";
        display: none;
        speak: none;
    }
    .introduction {
        font-size: 1.3125em;
    }
    .content-wrapper .container {
        padding: 1em 1.5em;
    }
}
@media (min-width: 30em) {
    body:after {
        content: "animatebody";
        display: none;
        speak: none;
    }
}
@media (min-width: 32.5em) {
    body:after {
        content: "animatebody";
        display: none;
        speak: none;
    }
    body {
        /*text-rendering: optimizeLegibility;*/
    }

    .content-wrapper {
        clear: both;
    }
    .container {
        max-width: 75em;
        width: 100%;
        margin: 0 auto;
        padding: 0;
    }
    .introduction {
        font-size: 1.5em;
    }
    input[type="submit"],
    input[type="reset"],
    button,
    .button,
    a.button {
        display: inline-block;
        vertical-align: baseline;
        width: auto;
    }
}
@media (min-width: 39.9375em) and (max-width: 58.75em) {
    body:after {
        content: "drawer_navigation";
        display: none;
        speak: none;
    }
}
@media (min-width: 40em) {
    body:after {
        content: "drawer_navigation";
        display: none;
        speak: none;
    }
    .touch body,
    .touch #touchnav-wrapper {
        position: relative;
        width: 100%;
    }
    .touch #touchnav-wrapper {
        -moz-transition: -moz-transform 300ms ease;
        -o-transition: -o-transform 300ms ease;
        -webkit-transition: -webkit-transform 300ms ease;
        transition: transform 300ms ease;
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        -webkit-backface-visibility: hidden;
    }
    .introduction {
        padding: 0 1.5em;
    }
    .main-content {
        width: 65.95745%;
        float: right;
        margin-right: 0;
        #margin-left: -20px;
    }
    .text {
        font-size: 0.9375em;
    }
    .left-sidebar {
        width: 31.91489%;
        float: left;
        margin-right: 2.12766%;
        margin-top: 1em;
    }
    .row {
        margin-bottom: 1em;
    }
}
@media (min-width: 50em) {
    body:after {
        content: "drawer_navigation";
        display: none;
        speak: none;
    }
    .introduction {
        text-align: center;
    }
    .introduction .breaker {
        display: block;
        width: 100%;
        height: 1px;
        font-size: 1px;
        line-height: 1px;
    }
    .home .content-wrapper .container {
        padding-top: 2.5em;
    }
    .main-content {
        width: 74.46809%;
        float: right;
        margin-right: 0;
        #margin-left: -20px;
    }
    .left-sidebar {
        width: 23.40426%;
        float: left;
        margin-right: 2.12766%;
    }

    .copyright {
        font-size: 0.875em;
    }
}
@media (min-width: 58.75em) {
    body:after {
        content: "drawer_navigation load_supernavs";
        display: none;
        speak: none;
    }
    .main-content {
        padding-left: 3.19149%;
        padding-right: 3.19149%;
    }
    .text > p:first-of-type {
        color: #666;
        font-size: 1.125em;
        line-height: 1.6875;
        margin-bottom: 1.25em;
    }
    .touch body,
    .touch #touchnav-wrapper {
        position: relative;
        width: 100%;
    }
    .touch #touchnav-wrapper {
        -moz-transition: -moz-transform 300ms ease;
        -o-transition: -o-transform 300ms ease;
        -webkit-transition: -webkit-transform 300ms ease;
        transition: transform 300ms ease;
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        -webkit-backface-visibility: hidden;
    }
}
@media (min-width: 64em) {
    body:after {
        content: "drawer_navigation load_supernavs";
        display: none;
        speak: none;
    }
}
@media (min-width: 75em) {
    body:after {
        content: "drawer_navigation load_supernavs";
        display: none;
        speak: none;
    }
}
@-ms-viewport {
    width: device-width;
}
@viewport {
    width: device-width;
}
