@charset "UTF-8";
@media (min-width: 0em) {
    div.content-wrapper {
        padding: .5rem 1rem;
    }
    aside.left-sidebar {
        display: none;
    }
}
@media (min-width: 32.5em) {
    div.content-wrapper {
        clear: both;
        max-width: 40em;
        width: 100%;
        margin: 0 auto;
    }
}
@media (min-width: 54em) {
    div.content-wrapper {
        max-width: 75em;
    }
    .main-content {
        max-width: 40em;
        width: 74%;
        float: right;
        margin-right: 0;
        #margin-left: -20px;
    }
    .text {
        font-size: 1rem;
    }
    aside.left-sidebar {
        width: 24%;
        float: left;
        margin-right: 2%;
        margin-top: 1em;
        display: initial;
    }
}
@media (min-width: 60em) {
    .main-content {
        max-width: none;
        padding-left: 3.2%;
        padding-right: 3.2%;
    }
    .text > p:first-of-type {
        color: #666;
        font-size: 1.125rem;
        line-height: 1.6875;
        margin-bottom: 1.25rem;
    }
}
