/*

TODO: PSF callout
TODO: Refs PEP 310

Explicitly don't reformat syntax highlighting as per pydotorg as pydotorg doesn't have it
 */

/* Generic PEP page formatting */

.pep-page pre {
    padding: .5em;
    background: inherit;
    border-left: 0;
    -webkit-box-shadow: 0 0 0 0;
    -moz-box-shadow: 0 0 0 0;
    box-shadow: 0 0 0 0;
}
.pep-page pre.literal-block {
    background-color: #e6e8ea;
    border: 1px solid #ddd;
    padding: 1em;
    -webkit-box-shadow: 0 0 1em rgba( 0, 0, 0, 0.2 );
    -moz-box-shadow: 0 0 1em rgba( 0, 0, 0, 0.2 );
    box-shadow: 0 0 1em rgba( 0, 0, 0, 0.2 );
}

/* PEP Header Blocks*/

dl.rfc2822,
dl.footnote {
    background-color: #f6f6f6;
    display: grid;
    grid-template-columns: fit-content(30%) auto;
    line-height: 1.875;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0;
    padding: 0;
    border: 0;
}

dl.rfc2822 {
    grid-template-columns: fit-content(30%) auto;
}

dl.footnote {
    grid-template-columns: fit-content(10%) auto;
}
.footnote .label{
    width: inherit;
}

dl.rfc2822 > dt,
dl.footnote > dt {
    width: inherit;
    margin: 0;
    border: 0;
    text-align: left;
    vertical-align: top;
    padding: .25em .5em .2em;
}

dl.rfc2822 > dt {
    font-weight: 700;
    background-color: #f0f0f0;
}

dl.rfc2822 > dt:after {
    content: ":";
}

dl.footnote > dt {
    font-weight: normal;
}

dl.rfc2822 > dd,
dl.footnote > dd {
    padding: .25em .5em .2em;
    border: 0;
    border-left: 2px solid #fff;
    margin: 0;
    text-align: left;
    vertical-align: top;
}

dl.rfc2822 > dd:nth-of-type(even) {
    background-color: #f0f0f0;
}

/* Link formatting */

h1:hover > a.headerlink,
h2:hover > a.headerlink,
h3:hover > a.headerlink,
h4:hover > a.headerlink,
h5:hover > a.headerlink,
h6:hover > a.headerlink,
dt:hover > a.headerlink,
caption:hover > a.headerlink,
p.caption:hover > a.headerlink,
div.code-block-caption:hover > a.headerlink {
    visibility: visible;
}

a.headerlink {
    visibility: hidden;
}

a.brackets:before,
span.brackets > a:before{
    content: "[";
}

a.brackets:after,
span.brackets > a:after {
    content: "]";
}

/* Header Formatting*/
/* We need to move all header formatting up a level (e.g. h2=h1, h3=h2 etc, except h1) */
h2{
    margin-top: 1em;
    margin-bottom: .25em;
    font-size: 1.75em;
    line-height: 1em;
    font-weight: 700;
}

h3 {
    font-size: 1.5em;
    margin-top: 1.3125em;
    margin-bottom: .32813em;
}

h4 {
    font-size: 1.3125em;
    margin-top: 1.75em;
    font-weight: normal;
}

/* Code formatting (code literals and Pygments highlighting blocks) */

div.highlight > pre {
    padding: 1em;
}

code.literal {
    padding: 0;
    margin: 0;
    border-radius: 0;
    box-shadow: none;
    background: none;
    color: #444; /* Same as body colour */
    display: inline;
}

/* Sidebar formatting */

aside.left-sidebar {
    overflow-y: scroll;
    position: sticky;
    top: 0;
    padding-right: 0.5em;
    height: 100vh;
    scrollbar-width: thin;  /* CSS Standards, not *yet* widely supported */
    scrollbar-color: #ccc transparent;
}
/* Chrome/Edge/Safari vendor prefixes */
aside.left-sidebar::-webkit-scrollbar {
    width: 6px;
}
aside.left-sidebar::-webkit-scrollbar-track {
    background: transparent;
}
aside.left-sidebar::-webkit-scrollbar-thumb {
    background: #ccc;
}

aside h3 {
    margin-top: 0.5em;
    margin-bottom: 0;
    font-size: 1.2em;
}

aside > h6 {
    text-align: center;
    margin: 0;
}

div.source-link {
    margin-top: 0.25em;
    font-weight: 700;
}

div.related > nav > ul {
    display: flex;
    justify-content: space-between;
    margin-left: 0;
}

aside ul {
    margin-left: 1em;
    line-height: 22px;
}

/*####################################################################################*/
/* Styles explicitly just for matching current pydotorg for visual regression testing */
/*####################################################################################*/

dl.footnote {
    background-color: inherit;
}

dl.footnote > dt,
dl.footnote > dd{
    background-color: #f6f6f6;
}

div#references > dl.footnote > dt,
div#references > dl.footnote > dd {
    margin-bottom: 1.3125em;
}

div#references > dl.footnote > dt:last-of-type,
div#references > dl.footnote > dd:last-of-type {
    margin-bottom: 0;
}

div.highlight > pre {
    box-shadow: 0 0 1em rgba( 0, 0, 0, 0.2 );
    border: 1px solid transparent;
}

code.literal {
    font-family: "Courier New", monospace;
    font-size: 12.1833px;
}

div.zero-height{
    line-height: 0;
}