@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,700;1,400&display=swap');

.text a {
    border-bottom: 1px solid #ffdf76;
    text-decoration: none;
}
.text a:hover,
.text a:focus {
    border-bottom-color: #ffd343;
}
html,
body,
div,
span,
object,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
cite,
code,
em,
img,
ins,
kbd,
q,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
label,
legend,
table,
caption,
tbody,
thead,
tr,
th,
td,
article,
aside,
details,
figure,
footer,
header,
section {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article,
aside,
details,
figure,
footer,
header,
section {
    display: block;
}
blockquote {
    quotes: none;
}
blockquote:before,
blockquote:after {
    content: "";
    content: none;
}
table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}
th,
td {
    text-align: left;
    vertical-align: top;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #caccce;
    margin: 1.75em 0;
    padding: 0;
}
html {
    font-size: 100%;
    overflow-y: scroll;
    -webkit-font-smoothing: antialiased;
    margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}
ul,
ol {
    margin-left: 1.5em;
}
ul {
    list-style: square;
}
ol {
    list-style: decimal;
}
ol ol {
    list-style: upper-alpha;
}
ol ol ol {
    list-style: lower-roman;
}
ol ol ol ol {
    list-style: lower-alpha;
}

.menu {
    margin-left: 0;
    list-style: none;
}
b,
strong,
th {
    font-weight: 700;
}
i,
em,
cite {
    font-style: italic;
}
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
}
sup {
    top: -0.5em;
}
sub {
    bottom: -0.25em;
}
pre,
code,
kbd {
    font-family: Consolas, "Lucida Console", "Liberation Mono", "DejaVu Sans Mono",
    "Bitstream Vera Sans Mono", "Courier New", monospace, sans-serif;
}
pre {
    white-space: pre-wrap;
    word-wrap: break-word;
}
code {
    color: #11a611;
}
@-ms-viewport {
    width: device-width;
}
svg:not(:root) {
    overflow: hidden;
}
html {
    background-color: #2b5b84;
    font: normal 100%/1.625 "Source Sans Pro", Arial, sans-serif;
}
body {
    color: #444;
    background-color: #fff;
}
body:after {
    content: "small";
    display: none;
}
body {
    color: #444;
    font: normal 100%/1.625 "Source Sans Pro", Arial, sans-serif;
}
* {
    box-sizing: border-box;
}
a,
a:active,
a:visited,
a:hover,
a:visited:hover {
    color: #3776ab;
    text-decoration: none;
}
a:hover,
a:focus {
    color: #1e2933;
}
a img {
    display: block;
    margin: 0 auto;
}
::selection {
    background: #3776ab;
    color: #fff;
    text-shadow: none;
}
a:link {
    -webkit-tap-highlight-color: #1e2933;
}
img {
    max-width: 100%;
}
h1 {
    color: #3776ab;
    font-weight: 700;
    font-family: "Source Sans Pro", Arial, sans-serif;
    line-height: 1em;
    font-size: 1.75em;
    margin-bottom: 0.4375em;
}
h2 {
    color: #999;
    font-family: "Source Sans Pro", Arial, sans-serif;
    font-size: 1.5em;
    margin-top: 1.3125em;
    margin-bottom: 0.32813em;
}
h3 {
    color: #222;
    font-size: 1.3125em;
    margin-top: 1.75em;
    margin-bottom: 0.4375em;
}
h4 {
    color: #222;
    font-weight: 700;
    font-family: "Source Sans Pro", Arial, sans-serif;
    font-size: 1.125em;
    margin-top: 1.3125em;
    margin-bottom: 0.4375em;
}
h5 {
    color: #222;
    font-weight: 700;
    font-family: "Source Sans Pro", Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.0625em;
    margin-top: 1.75em;
}
h6 {
    color: #222;
    font-weight: 700;
    font-family: "Source Sans Pro", Arial, sans-serif;
    margin-top: 1.75em;
}
blockquote {
    position: relative;
    font: italic 1.125em Georgia, serif;
    line-height: 2;
    padding-top: 1.3125em;
    padding-bottom: 1.3125em;
    border-top: 3px solid #ffeba9;
    border-bottom: 3px solid #ffeba9;
    margin-bottom: 1.3125em;
}
blockquote footer {
    font: normal 0.77778em "Source Sans Pro", Arial, sans-serif;
}
blockquote em {
    font-style: normal;
}
dl {
    border-top: 1px solid #e6e8ea;
}
dl dt {
    font-weight: 700;
    font-family: "Source Sans Pro", Arial, sans-serif;
    border-bottom: 1px solid #e6e8ea;
}
dl dd {
    padding-left: 1.5em;
    border-bottom: 1px solid #caccce;
}
b,
strong {
    font-weight: 700;
    font-family: "Source Sans Pro", Arial, sans-serif;
}
i,
em {
    font-family: "Source Sans Pro", Arial, sans-serif;
    font-style: italic;
}
.pre {
    white-space: nowrap;
}
.prompt {
    font-family: Flux, "Source Sans Pro", Arial, sans-serif;
    font-size: 120%;
    letter-spacing: -0.0625em;
}
.larger {
    font-size: 120%;
}
.indent {
    padding-left: 2em;
}

.content-wrapper {
    padding: 0;
    background-color: #f9f9f9;
}
.content-wrapper .container {
    padding: 0.25em;
}
.main-content {
    padding-bottom: 1.75em;
}
.main-content > article {
    margin-top: 1.3125em;
    padding-bottom: 1.75em;
}
.page-title {
    color: #666;
    word-spacing: 0.15em;
    font-size: 2em;
}
.fontface .page-title {
    font-size: 2.3em;
}
.fontface .page-title span:before {
    font-size: 0.875em;
}
.text {
    font-size: 1em;
}
.text h1 {
    margin-top: 1em;
    margin-bottom: 0.25em;
}

.text .page-title {
    margin-top: 1.3125em;
    margin-bottom: 0.875em;
}
.text p,
.text pre,
.text ul,
.text ol,
.text dl,
.text blockquote,
.text address,
.text table,
.text figure {
    margin-bottom: 1.3125em;
    line-height: 1.875;
}
.text p,
.text dd,
.text blockquote,
.text address {
    -webkit-hyphens: auto;
    hyphens: auto;
}
.text p tt,
.text p var,
.text p code,
.text p kbd,
.text p acronym,
.text dd tt,
.text dd var,
.text dd code,
.text dd kbd,
.text dd acronym,
.text blockquote tt,
.text blockquote var,
.text blockquote code,
.text blockquote kbd,
.text blockquote acronym,
.text address tt,
.text address var,
.text address code,
.text address kbd,
.text address acronym {
    -webkit-hyphens: none;
    hyphens: none;
}
.text li > ul,
.text li > ol {
    margin-bottom: 0;
}
.text li {
    line-height: 1.65em;
    margin: 0.2625em 0;
}
.text blockquote {
    padding-left: 3em;
    padding-right: 1em;
}
.text a:not(.button) {
    display: inline;
}

.text .menu a,
.text button,
.text .prompt,
.text .menu a:hover,
.text .prompt:hover,
.text .menu a:focus,
.text .prompt:focus {
    border-bottom: 0;
}
.text var {
    color: #222;
    font-size: 104%;
    font-weight: 700;
}
.text code,
.text kbd {
    display: inline-block;
}
.text code {
    border: 0;
}
.text code,
.text kbd {
    padding: 0.125em 0.375em 0;
    margin: 0 -0.0625em;
    background: #e6e8ea;
    background: rgba(230, 232, 234, 0.5);
    box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.1) inset;
    border-radius: 6px;
}
.text pre {
    padding: 0.5em;
    border-left: 5px solid #11a611;
    background: #e6e8ea;
    box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.1) inset;
}
.text pre code {
    display: block;
    padding: 0;
    margin: 0;
    box-shadow: 0;
    border-radius: 0;
}
.text s,
.text strike,
.text del {
    color: #999;
}
table caption {
    caption-side: top;
    color: #444;
    font-size: 1.125em;
    text-align: left;
    margin-bottom: 1.75em;
}
table thead {
    border-bottom: 1px solid #ddd;
}
table tr {
    background-color: #f6f6f6;
}
table tr th {
    background-color: #f0f0f0;
}
table tr:nth-of-type(even),
table tr.even {
    background-color: #f0f0f0;
}
table th,
table td {
    padding: 0.25em 0.5em 0.2em;
    border-left: 2px solid #fff;
}
table th:first-child,
table td:first-child {
    border-left: none;
}
.footnote .label {
    width: 4em;
}
.breadcrumbs {
    padding: 0.5em 0;
    border-bottom: 1px solid #caccce;
}
.breadcrumbs li {
    display: inline-block;
    vertical-align: baseline;
}
.breadcrumbs .prompt {
    margin-left: 0.5em;
}
div.note {
    background-color: #eee;
    border: 1px solid #ccc;
    padding: 0.3125em 0.625em;
    margin-bottom: 1.5625em;
}
div.note > p {
    margin-bottom: 0;
}
p.admonition-title {
    font-weight: bold;
}
p.admonition-title:after {
    content: ":";
}
div.warning {
    background-color: #ffe4e4;
    border: 1px solid #f66;
    padding: 0.3125em 0.625em;
    margin-bottom: 1.5625em;
}
div.warning > p {
    margin-bottom: 0;
}
div.sidebar {
    margin: 0 0 0.5em 1em;
    border: 1px solid #ddb;
    padding: 0.4375em 0.4375em 0 0.4375em;
    background-color: #ffe;
    width: 40%;
    float: right;
}
div.sidebar > p {
    font-size: 0.9375em;
    margin-top: 0.625em;
    margin-bottom: 0;
}
@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }
    body {
        font-size: 10pt;
        line-height: 1.67;
    }
    a,
    a:visited {
        text-decoration: underline !important;
    }
    *[role="main"] a[href]:after {
        content: " (" attr(href) ")";
        font-size: 75%;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    thead {
        display: table-header-group;
    }
    tr,
    img {
        page-break-inside: avoid;
    }
    img {
        max-width: 100% !important;
    }
    @page {
        margin: 0.5cm;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h1,
    h2,
    h3 {
        page-break-after: avoid;
    }
}
