@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,700;1,400&display=swap');

* {
    box-sizing: border-box;
}
html {
    overflow-y: scroll;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    line-height: 1.625;
    font-weight: normal;
    font-size: 100%;
    font-family: "Source Sans Pro", Arial, sans-serif;
}
body {
    color: #444;
    background-color: #f9f9f9;
}

body,
div,
span,
p,
blockquote,
pre,
cite,
code,
img,
sub,
sup,
dl,
dt,
dd,
ol,
ul,
li,
label,
table,
caption,
tbody,
thead,
tr,
th,
td,
article,
aside,
section {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: inherit;
    font-family: inherit;
    vertical-align: baseline;
}

h1.page-title {
    font-weight: bold;
    line-height: 1em;
    color: #666;
    word-spacing: 0.15em;
    font-size: 2.3em;
    margin-top: 1.3125em;
    margin-bottom: 0.875em;
}
h2 {
    color: #999;
    font-size: 1.75em;
    margin-top: 1em;
    margin-bottom: .25em;
    line-height: 1em;
    font-weight: 700;
}
h3 {
    font-weight: normal;
    color: #222;
    font-size: 1.5em;
    margin-top: 1.3125em;
    margin-bottom: .32813em;
}
h4 {
    color: #222;
    font-weight: normal;
    font-size: 1.3125em;
    margin-top: 1.75em;
    margin-bottom: 0.4375em;
}
h5 {
    color: #222;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.0625em;
    margin-top: 1.75em;
}
h6 {
    color: #222;
    font-weight: bold;
    margin-top: 1.75em;
    font-size: 100%;
}

table {
    width: 100%;
    border-collapse: collapse;
}
table caption {
    font-size: 1.125em;
    text-align: left;
    margin-bottom: 1.75em;
}
table thead {
    border-bottom: 1px solid #ddd;
    background-color: #f0f0f0;
    font-weight: bold;
}
table tbody tr:nth-of-type(odd) {
    background-color: #f6f6f6;
}
table tbody tr:nth-of-type(even) {
    background-color: #f0f0f0;
}
table th,
table td {
    text-align: left;
    vertical-align: top;
    padding: 0.25em 0.5em 0.2em;
    border-left: 2px solid #fff;
}
table th:first-child,
table td:first-child {
    border-left: none;
}

hr {
    border: 0;
    border-top: 1px solid #caccce;
    margin: 1.75em 0;
}

ul,
ol {
    margin-left: 1.5em;
}
ul {
    list-style: square;
}
ol.arabic {
    list-style: decimal;
}
ol.loweralpha {
    list-style: lower-alpha;
}
ol.upperalpha {
    list-style: upper-alpha;
}
ol.lowerroman {
    list-style: lower-roman;
}
ol.upperroman {
    list-style: upper-roman;
}
.text li > ul,
.text li > ol {
    margin-bottom: 0;
}
.text li {
    line-height: 1.65em;
    margin: 0.2625em 0;
}

cite {
    font-style: italic;
}
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
}
sup {
    top: -0.5em;
}
sub {
    bottom: -0.25em;
}

pre,
code {
    font-family: ui-monospace, "Cascadia Mono", "Segoe UI Mono", "DejaVu Sans Mono", Consolas, monospace;
    white-space: pre-wrap;
    word-wrap: break-word;
}
code.literal {
    font-size: 80%;
    -webkit-hyphens: none;
    hyphens: none;
}

svg:not(:root) {
    overflow: hidden;
}

a,
a:active,
a:visited,
a:hover,
a:visited:hover {
    color: #3776ab;
    text-decoration: none;
}
a:hover,
a:focus {
    color: #1e2933;
}
a img {
    display: block;
    margin: 0 auto;
}
.text a {
    border-bottom: 1px solid #ffdf76;
    text-decoration: none;
    display: inline;
}
.text a:hover,
.text a:focus {
    border-bottom-color: #ffd343;
}

::selection {
    background: #3776ab;
    color: #fff;
    text-shadow: none;
}

img {
    max-width: 100%;
}

blockquote {
    font-style: italic;
    border-left: 1px solid #878787;
    margin-left: .5rem;
    margin-right: .5rem;
    padding: .5rem 1rem;
}
blockquote em {
    font-style: normal;
}

dl {
    border-top: 1px solid #e6e8ea;
}
dl dt {
    font-weight: bold;
    border-bottom: 1px solid #e6e8ea;
}
dl dd {
    padding-left: 1.5em;
    border-bottom: 1px solid #caccce;
}

.content-wrapper .container {
    padding: 0.25em;
}
section.main-content {
    padding-bottom: 1.75em;
}
section.main-content > article {
    margin-top: 1.3125em;
    padding-bottom: 1.75em;
}

ul.breadcrumbs {
    padding: 0.5em 0;
    border-bottom: 1px solid #caccce;
    margin-left: 0;
    list-style: none;
}
ul.breadcrumbs li {
    display: inline;
    vertical-align: baseline;
}

div.note {
    background-color: #eee;
    border: 1px solid #ccc;
    padding: 0.3125em 0.625em;
    margin-bottom: 1.5625em;
}
div.note > p {
    margin-bottom: 0;
}
p.admonition-title {
    font-weight: bold;
}
p.admonition-title:after {
    content: ":";
}
div.warning {
    background-color: #ffe4e4;
    border: 1px solid #f66;
    padding: 0.3125em 0.625em;
    margin-bottom: 1.5625em;
}
div.warning > p {
    margin-bottom: 0;
}
@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }
    body {
        font-size: 10pt;
        line-height: 1.67;
    }
    a,
    a:visited {
        text-decoration: underline !important;
    }
    *[role="main"] a[href]:after {
        content: " (" attr(href) ")";
        font-size: 75%;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    thead {
        display: table-header-group;
    }
    tr,
    img {
        page-break-inside: avoid;
    }
    img {
        max-width: 100% !important;
    }
    @page {
        margin: 0.5cm;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h1,
    h2,
    h3 {
        page-break-after: avoid;
    }
}

/*

TODO: PSF callout
TODO: Refs PEP 310

Explicitly don't reformat syntax highlighting as per pydotorg as pydotorg doesn't have it
 */

/* Generic PEP page formatting */

.pep-page pre {
    padding: .5em;
    background: inherit;
    border-left: 0;
    -webkit-box-shadow: 0 0 0 0;
    -moz-box-shadow: 0 0 0 0;
    box-shadow: 0 0 0 0;
}
.pep-page pre.literal-block {
    background-color: #e6e8ea;
    border: 1px solid #ddd;
    padding: 1em;
    -webkit-box-shadow: 0 0 1em rgba( 0, 0, 0, 0.2 );
    -moz-box-shadow: 0 0 1em rgba( 0, 0, 0, 0.2 );
    box-shadow: 0 0 1em rgba( 0, 0, 0, 0.2 );
}

/* PEP Header Blocks*/

dl.rfc2822,
dl.footnote {
    background-color: #f6f6f6;
    display: grid;
    grid-template-columns: fit-content(30%) auto;
    line-height: 1.875;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0;
    padding: 0;
    border: 0;
}

dl.rfc2822 {
    grid-template-columns: fit-content(30%) auto;
}

dl.footnote {
    grid-template-columns: fit-content(10%) auto;
}
.footnote .label{
    width: inherit;
}

dl.rfc2822 > dt,
dl.footnote > dt {
    width: inherit;
    margin: 0;
    border: 0;
    text-align: left;
    vertical-align: top;
    padding: .25em .5em .2em;
}

dl.rfc2822 > dt {
    font-weight: 700;
    background-color: #f0f0f0;
}

dl.rfc2822 > dt:after {
    content: ":";
}

dl.footnote > dt {
    font-weight: normal;
}

dl.rfc2822 > dd,
dl.footnote > dd {
    padding: .25em .5em .2em;
    border: 0;
    border-left: 2px solid #fff;
    margin: 0;
    text-align: left;
    vertical-align: top;
}

dl.rfc2822 > dd:nth-of-type(even) {
    background-color: #f0f0f0;
}

/* Link formatting */

h1:hover > a.headerlink,
h2:hover > a.headerlink,
h3:hover > a.headerlink,
h4:hover > a.headerlink,
h5:hover > a.headerlink,
h6:hover > a.headerlink,
dt:hover > a.headerlink,
caption:hover > a.headerlink,
p.caption:hover > a.headerlink,
div.code-block-caption:hover > a.headerlink {
    visibility: visible;
}

a.headerlink {
    visibility: hidden;
}

a.brackets:before,
span.brackets > a:before{
    content: "[";
}

a.brackets:after,
span.brackets > a:after {
    content: "]";
}

/* Code formatting (code literals and Pygments highlighting blocks) */

div.highlight > pre {
    padding: 1em;
}

code.literal {
    padding: 0;
    margin: 0;
    border-radius: 0;
    box-shadow: none;
    background: #f8f9fb;
    color: #444; /* Same as body colour */
    display: inline;
}

/* Sidebar formatting */

aside.left-sidebar {
    overflow-y: scroll;
    position: sticky;
    top: 0;
    padding-right: 0.5em;
    height: 100vh;
    scrollbar-width: thin;  /* CSS Standards, not *yet* widely supported */
    scrollbar-color: #ccc transparent;
}
/* Chrome/Edge/Safari vendor prefixes */
aside.left-sidebar::-webkit-scrollbar {
    width: 6px;
}
aside.left-sidebar::-webkit-scrollbar-track {
    background: transparent;
}
aside.left-sidebar::-webkit-scrollbar-thumb {
    background: #ccc;
}

aside h3 {
    margin-top: 0.5em;
    margin-bottom: 0;
    font-size: 1.2em;
}

aside > h6 {
    text-align: center;
    margin: 0;
}

div.source-link {
    margin-top: 0.25em;
    font-weight: 700;
}

div.related > nav > ul {
    display: flex;
    justify-content: space-between;
    margin-left: 0;
}

aside ul {
    margin-left: 1em;
    line-height: 22px;
}

/*####################################################################################*/
/* Styles explicitly just for matching current pydotorg for visual regression testing */
/*####################################################################################*/

dl.footnote {
    background-color: inherit;
}

dl.footnote > dt,
dl.footnote > dd{
    background-color: #f6f6f6;
}

div#references > dl.footnote > dt,
div#references > dl.footnote > dd {
    margin-bottom: 1.3125em;
}

div#references > dl.footnote > dt:last-of-type,
div#references > dl.footnote > dd:last-of-type {
    margin-bottom: 0;
}

div.highlight > pre {
    box-shadow: 0 0 1em rgba( 0, 0, 0, 0.2 );
    border: 1px solid transparent;
}

pre,
code {
    font-family: Consolas, "Lucida Console", "Liberation Mono", "DejaVu Sans Mono",
    "Bitstream Vera Sans Mono", "Courier New", monospace, sans-serif;
}

code.literal {
    font-family: "Courier New", monospace;
    font-size: 12.1833px;
}

div.zero-height{
    line-height: 0;
}

blockquote{
    -webkit-hyphens: auto;
    hyphens: auto;
    position: relative;
    font-family: Georgia, serif;
    font-size: 1.125em;
    border-top: 3px solid #ffeba9;
    border-bottom: 3px solid #ffeba9;
    border-left: none;
    margin-left: 0;
    margin-right: 0;
    padding: 1.3125em 1em 1.3125em 3em;
}

.text pre code {
    display: block;
    padding: 0;
    margin: 0;
    box-shadow: 0;
    border-radius: 0;
}

dl dd,
.text p {
    -webkit-hyphens: auto;
    hyphens: auto;
}

table,
.text ul,
.text ol,
.text pre,
blockquote,
dl,
.text p {
    margin-bottom: 1.3125em;
    line-height: 1.875;
}
