
/*####################################################################################*/
/* Styles explicitly just for matching current pydotorg for visual regression testing */
/*####################################################################################*/

dl.footnote {
    background-color: inherit;
}

dl.footnote > dt,
dl.footnote > dd{
    background-color: #f6f6f6;
}

div#references > dl.footnote > dt,
div#references > dl.footnote > dd {
    margin-bottom: 1.3125em;
}

div#references > dl.footnote > dt:last-of-type,
div#references > dl.footnote > dd:last-of-type {
    margin-bottom: 0;
}

div.highlight > pre {
    box-shadow: 0 0 1em rgba( 0, 0, 0, 0.2 );
    border: 1px solid transparent;
}

code.literal {
    font-family: "Courier New", monospace;
    font-size: 12.1833px;
}

div.zero-height{
    line-height: 0;
}

blockquote{
    -webkit-hyphens: auto;
    hyphens: auto;
    position: relative;
    font-family: Georgia, serif;
    font-size: 1.125em;
    border-top: 3px solid #ffeba9;
    border-bottom: 3px solid #ffeba9;
    border-left: none;
    margin-left: 0;
    margin-right: 0;
    line-height: 1.875;
    padding: 1.3125em 1em 1.3125em 3em;
}

.text pre code {
    display: block;
    padding: 0;
    margin: 0;
    box-shadow: 0;
    border-radius: 0;
}

dl dd {
    -webkit-hyphens: auto;
    hyphens: auto;
}

.text p {
    -webkit-hyphens: auto;
    hyphens: auto;
}
