@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,700;1,400&display=swap');

* {
    box-sizing: border-box;
}
html {
    overflow-y: scroll;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    line-height: 1.625;
    font-weight: normal;
    font-size: 100%;
    font-family: "Source Sans Pro", Arial, sans-serif;
}
body {
    margin: 0;
    color: #444;
    background-color: #fff;
}

body,
div,
span,
blockquote,
pre,
cite,
code,
img,
sub,
sup,
dl,
dt,
dd,
ol,
ul,
li,
label,
table,
caption,
tbody,
thead,
tr,
th,
td,
article,
aside,
section {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: inherit;
    font-family: inherit;
    vertical-align: baseline;
}

h1.page-title {
    color: #666;
    word-spacing: 0.15em;
    font-size: 2em;
    font-weight: bold;
    margin-top: 1.3125em;
    margin-bottom: 0.875em;
}
h2 {
    font-size: 1.6em;
    font-weight: bold;
    margin-top: .75em;
    margin-bottom: .25em;
}
h3 {
    font-size: 1.4em;
    font-weight: normal;
    margin-top: .5em;
    margin-bottom: 0;
}
h4 {
    font-size: 1.2em;
    font-weight: normal;
    margin-top: .25em;
    margin-bottom: 0;
}
h5,
h6 {
    font-size: 1em;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
}

aside.left-sidebar > h1 {
    font-size: 1.1em;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
}
aside.left-sidebar > h2 {
    font-size: 1.4em;
}

p,
div.highlight {
    margin: 0 0 .5em;
}

table {
    width: 100%;
    border-collapse: collapse;
}
table caption {
    font-size: 1.125em;
    text-align: left;
    margin-bottom: 1.75em;
}
table thead {
    border-bottom: 1px solid #ddd;
    background-color: #f0f0f0;
    font-weight: bold;
}
table tbody tr:nth-of-type(odd) {
    background-color: #f6f6f6;
}
table tbody tr:nth-of-type(even) {
    background-color: #f0f0f0;
}
table th,
table td {
    text-align: left;
    vertical-align: top;
    padding: 0.25em 0.5em 0.2em;
    border-left: 2px solid #fff;
}
table th:first-child,
table td:first-child {
    border-left: none;
}

hr {
    border: 0;
    border-top: 1px solid #caccce;
    margin: 1.75em 0;
}

ul,
ol {
    margin-left: 1.5em;
}
ul {
    list-style: square;
}
ol.arabic {
    list-style: decimal;
}
ol.loweralpha {
    list-style: lower-alpha;
}
ol.upperalpha {
    list-style: upper-alpha;
}
ol.lowerroman {
    list-style: lower-roman;
}
ol.upperroman {
    list-style: upper-roman;
}
.text li > ul,
.text li > ol {
    margin-bottom: 0;
}
.text li {
    line-height: 1.65em;
    margin: 0.2625em 0;
}

cite {
    font-style: italic;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
}
sup {
    top: -0.5em;
}
sub {
    bottom: -0.25em;
}

pre,
code {
    font-family: ui-monospace, "Cascadia Mono", "Segoe UI Mono", "DejaVu Sans Mono", Consolas, monospace;
    white-space: pre-wrap;
    word-wrap: break-word;
}
code.literal {
    font-size: 80%;
    -webkit-hyphens: none;
    hyphens: none;
}

svg:not(:root) {
    overflow: hidden;
}

a,
a:active,
a:visited {
    color: #208bd5;
    text-decoration-color: #EEEBEE;
    display: inline;
}
a:hover,
a:focus {
    text-decoration-color: #878787;
}
aside.left-sidebar a,
ul.breadcrumbs a {
    text-decoration: none;
}

img {
    max-width: 100%;
}
a img {
    display: block;
    margin: 0 auto;
}

blockquote {
    font-style: italic;
    border-left: 1px solid #878787;
    margin-left: .5rem;
    margin-right: .5rem;
    padding: .5rem 1rem;
}
blockquote em {
    font-style: normal;
}

dl {
    border-top: 1px solid #e6e8ea;
}
dl dt {
    font-weight: bold;
    border-bottom: 1px solid #e6e8ea;
}
dl dd {
    padding-left: 1.5em;
    border-bottom: 1px solid #caccce;
}

.content-wrapper .container {
    padding: 0.25em;
}
section.main-content {
    padding-bottom: 1.75em;
}
section.main-content > article {
    margin-top: 1.3125em;
    padding-bottom: 1.75em;
}

ul.breadcrumbs {
    padding: 0.5em 0;
    border-bottom: 1px solid #caccce;
    margin-left: 0;
    list-style: none;
}
ul.breadcrumbs li {
    display: inline;
    vertical-align: baseline;
}

span.footer-metadata {
    display: block;
}

div.note,
div.warning {
    border: 1px solid;
    padding: 0.5em 0.75em;
    margin-top: 1em;
    margin-bottom: 1em;
}
div.note {
    background-color: #eee;
    border-color: #ccc;
}
div.warning {
    background-color: #ffe4e4;
    border-color: #f66;
}
p.admonition-title {
    font-weight: bold;
}
p.admonition-title:after {
    content: ":";
}

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }
    body {
        font-size: 10pt;
        line-height: 1.67;
    }
    a,
    a:visited {
        text-decoration: underline !important;
    }
    *[role="main"] a[href]:after {
        content: " (" attr(href) ")";
        font-size: 75%;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    thead {
        display: table-header-group;
    }
    tr,
    img {
        page-break-inside: avoid;
    }
    img {
        max-width: 100% !important;
    }
    @page {
        margin: 0.5cm;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h1,
    h2,
    h3 {
        page-break-after: avoid;
    }
}
