@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,700;1,400&display=swap');

* {
    box-sizing: border-box;
}
html {
    overflow-y: scroll;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    line-height: 1.625;
    font-weight: normal;
    font-size: 100%;
    font-family: "Source Sans Pro", Arial, sans-serif;
}
body {
    color: #444;
    background-color: #f9f9f9;
}

body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
cite,
code,
img,
sub,
sup,
dl,
dt,
dd,
ol,
ul,
li,
label,
table,
caption,
tbody,
thead,
tr,
th,
td,
article,
aside,
section {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: inherit;
    font-family: inherit;
    vertical-align: baseline;
}

h1 {
    color: #3776ab;
    font-weight: bold;
    line-height: 1em;
    font-size: 1.75em;
    margin-top: 1em;
    margin-bottom: 0.25em;
}
h2 {
    color: #999;
    font-size: 1.5em;
    margin-top: 1.3125em;
    margin-bottom: 0.32813em;
}
h3 {
    color: #222;
    font-size: 1.3125em;
    margin-top: 1.75em;
    margin-bottom: 0.4375em;
}
h4 {
    color: #222;
    font-weight: bold;
    font-size: 1.125em;
    margin-top: 1.3125em;
    margin-bottom: 0.4375em;
}
h5 {
    color: #222;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.0625em;
    margin-top: 1.75em;
}
h6 {
    color: #222;
    font-weight: bold;
    margin-top: 1.75em;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}
table caption {
    caption-side: top;
    color: #444;
    font-size: 1.125em;
    text-align: left;
    margin-bottom: 1.75em;
}
table thead {
    border-bottom: 1px solid #ddd;
    background-color: #f0f0f0;
    font-weight: bold;
}
table tbody tr:nth-of-type(odd) {
    background-color: #f6f6f6;
}
table tbody tr:nth-of-type(even) {
    background-color: #f0f0f0;
}
table th,
table td {
    text-align: left;
    vertical-align: top;
    padding: 0.25em 0.5em 0.2em;
    border-left: 2px solid #fff;
}
table th:first-child,
table td:first-child {
    border-left: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #caccce;
    margin: 1.75em 0;
    padding: 0;
}

ul,
ol {
    margin-left: 1.5em;
}
ul {
    list-style: square;
}
ol.arabic {
    list-style: decimal;
}

ol.loweralpha {
    list-style: lower-alpha;
}

ol.upperalpha {
    list-style: upper-alpha;
}

ol.lowerroman {
    list-style: lower-roman;
}

ol.upperroman {
    list-style: upper-roman;
}

cite {
    font-style: italic;
}
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
}
sup {
    top: -0.5em;
}
sub {
    bottom: -0.25em;
}

pre,
code {
    font-family: Consolas, "Lucida Console", "Liberation Mono", "DejaVu Sans Mono",
    "Bitstream Vera Sans Mono", "Courier New", monospace, sans-serif;
}
pre,
code {
    white-space: pre-wrap;
    word-wrap: break-word;
}
.text pre {
    margin-bottom: 1.3125em;
    line-height: 1.875;
}
.text pre code {
    display: block;
    padding: 0;
    margin: 0;
    box-shadow: 0;
    border-radius: 0;
}
.text p code,
.text dd code,
.text blockquote code {
    -webkit-hyphens: none;
    hyphens: none;
}

svg:not(:root) {
    overflow: hidden;
}

a,
a:active,
a:visited,
a:hover,
a:visited:hover {
    color: #3776ab;
    text-decoration: none;
}
a:hover,
a:focus {
    color: #1e2933;
}
a img {
    display: block;
    margin: 0 auto;
}

::selection {
    background: #3776ab;
    color: #fff;
    text-shadow: none;
}

img {
    max-width: 100%;
}

blockquote {
    position: relative;
    font-style: italic;
    font-size: 1.125em;
    font-family: Georgia, serif;
    border-top: 3px solid #ffeba9;
    border-bottom: 3px solid #ffeba9;
    margin-bottom: 1.3125em;
    line-height: 1.875;
    -webkit-hyphens: auto;
    hyphens: auto;
    padding: 1.3125em 1em 1.3125em 3em;
}
blockquote em {
    font-style: normal;
}

dl {
    border-top: 1px solid #e6e8ea;
}
dl dt {
    font-weight: bold;
    border-bottom: 1px solid #e6e8ea;
}
dl dd {
    padding-left: 1.5em;
    border-bottom: 1px solid #caccce;
}

.content-wrapper .container {
    padding: 0.25em;
}
.main-content {
    padding-bottom: 1.75em;
}
.main-content > article {
    margin-top: 1.3125em;
    padding-bottom: 1.75em;
}
.page-title {
    color: #666;
    word-spacing: 0.15em;
    font-size: 2.3em;
    margin-top: 1.3125em;
    margin-bottom: 0.875em;
}

.text {
    font-size: 1em;
}
.text a {
    border-bottom: 1px solid #ffdf76;
    text-decoration: none;
}
.text a:hover,
.text a:focus {
    border-bottom-color: #ffd343;
}

.text p,
.text ul,
.text ol,
.text dl,
.text table {
    margin-bottom: 1.3125em;
    line-height: 1.875;
}
.text p,
.text dd {
    -webkit-hyphens: auto;
    hyphens: auto;
}
.text li > ul,
.text li > ol {
    margin-bottom: 0;
}
.text li {
    line-height: 1.65em;
    margin: 0.2625em 0;
}

.text a:not(.button) {
    display: inline;
}

ul.breadcrumbs {
    padding: 0.5em 0;
    border-bottom: 1px solid #caccce;
    margin-left: 0;
    list-style: none;
}
ul.breadcrumbs li {
    display: inline-block;
    vertical-align: baseline;
}
ul.breadcrumbs li > span {
    margin-left: 0.5em;
    font-size: 120%;
    letter-spacing: -0.0625em;
}

div.note {
    background-color: #eee;
    border: 1px solid #ccc;
    padding: 0.3125em 0.625em;
    margin-bottom: 1.5625em;
}
div.note > p {
    margin-bottom: 0;
}
p.admonition-title {
    font-weight: bold;
}
p.admonition-title:after {
    content: ":";
}
div.warning {
    background-color: #ffe4e4;
    border: 1px solid #f66;
    padding: 0.3125em 0.625em;
    margin-bottom: 1.5625em;
}
div.warning > p {
    margin-bottom: 0;
}
@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }
    body {
        font-size: 10pt;
        line-height: 1.67;
    }
    a,
    a:visited {
        text-decoration: underline !important;
    }
    *[role="main"] a[href]:after {
        content: " (" attr(href) ")";
        font-size: 75%;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    thead {
        display: table-header-group;
    }
    tr,
    img {
        page-break-inside: avoid;
    }
    img {
        max-width: 100% !important;
    }
    @page {
        margin: 0.5cm;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h1,
    h2,
    h3 {
        page-break-after: avoid;
    }
}
