@charset "UTF-8";

/* Media Queries */

/* Reduce padding & margins for smaller screens */
@media (max-width: 40em) {
    section#pep-page-section {
        padding: 1rem;
    }
    section#pep-page-section > header > h1 {
        padding-right: 0;
        border-right: none;
    }
    ul.breadcrumbs {
        padding: 0 0 .5rem;
    }
    nav#pep-sidebar {
        display: none;
    }
    /* Show mobile search container on small screens */
    .mobile-search-container {
        display: block;
    }
    pre {
        font-size: 0.8175rem;
    }
    table th,
    table td {
        padding: 0 0.1rem;
    }
}

@media (min-width: 40em) {
    section#pep-page-section {
        display: table;
        margin: 0 auto;
        max-width: 75em;
        padding: 0.5rem 1rem 0;
        width: 100%;
    }
    section#pep-page-section > article {
        max-width: 37em;
        width: 74%;
        float: right;
        margin-right: 0;
        font-size: 1rem;
    }
    nav#pep-sidebar {
        width: 24%;
        float: left;
        margin-right: 2%;
    }
    /* Hide mobile search container on larger screens */
    .mobile-search-container {
        display: none;
    }
  /* Make less prominent when sidebar ToC is available */
  details > summary {
      font-size: 1rem;
      width: max-content;
  }
}
@media (min-width: 60em) {
    section#pep-page-section > article {
        max-width: 56em;
        padding-left: 3.2%;
        padding-right: 3.2%;
    }
}

@media print {
    *,
    *:before,
    *:after {
        color: #000 !important;
    }
    body {
        font-size: 10pt;
        line-height: 1.67;
    }
    *[role="main"] a[href]:after {
        content: " (" attr(href) ")";
        font-size: .75rem;
    }
    pre,
    blockquote {
        page-break-inside: avoid;
    }
    thead {
        display: table-header-group;
    }
    tr,
    img {
        page-break-inside: avoid;
    }
    img {
        max-width: 100% !important;
    }
    /* Page margins according to DIN 5008, leaves space for punched holes. */
    @page {
        margin-top: 2cm;
        margin-bottom: 2cm;
        margin-left: 2.5cm;
        margin-right: 2.5cm;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h1,
    h2,
    h3 {
        page-break-after: avoid;
    }
    h1 {
        font-size: 18pt;
        font-weight: bold;
        text-align: center;
    }
    h2, details > summary {
        font-size: 15pt;
        font-weight: normal;
    }
    h3 {
        font-size: 13pt;
        font-weight: normal;
    }
    h4 {
        font-size: 10pt;
        font-weight: 600;
    }
    a, abbr {
        text-decoration: none;
    }

    details {
        display: none;
    }
    details[open] {
        display: block;
    }

    h1.page-title:first-child {
        margin-top: 0;
    }

    section#pep-page-section {
        display: flex;
        justify-content: center;
        padding: 0;
        margin: 0 auto;
    }

    section#pep-page-section > header,
    nav#pep-sidebar {
        display: none;
    }

    section#pep-page-section > article {
        float: none;
        max-width: 100%;
        width: auto;
        margin: 0;
        padding: 0;
    }

    /* This blocks a small portion on each page. */
    readthedocs-flyout {
        display: none;
    }
}
