name: Lint PEPs

on: [push, pull_request, workflow_dispatch]

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

env:
  FORCE_COLOR: 1
  RUFF_FORMAT: github

jobs:
  pre-commit:
    name: Run pre-commit
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
        with:
          persist-credentials: false

      - name: Set up Python 3
        uses: actions/setup-python@v5
        with:
          python-version: "3.x"

      - name: Run pre-commit hooks
        uses: tox-dev/action-pre-commit-uv@v1

      - name: Check spelling
        uses: tox-dev/action-pre-commit-uv@v1
        with:
          extra_args: --all-files --hook-stage manual codespell || true
