name: Lint PEPs

on: [push, pull_request, workflow_dispatch]

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

env:
  FORCE_COLOR: 1
  RUFF_FORMAT: github

jobs:
  pre-commit:
    name: Run pre-commit
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Set up Python 3
        uses: actions/setup-python@v5
        with:
          python-version: "3.x"
          cache: pip

      - name: Run pre-commit hooks
        uses: pre-commit/action@v3.0.1

      - name: Check spelling
        uses: pre-commit/action@v3.0.1
        with:
          extra_args: --all-files --hook-stage manual codespell || true

  check-peps:
    name: Run check-peps
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Set up Python 3
        uses: actions/setup-python@v5
        with:
          python-version: "3"

      - name: Run check-peps
        run: python check-peps.py --detailed
